[2017-02-16 18:33] roughike opened #4 "Opening the project fails without BINTRAY_USER or BINTRAY_KEY"
Hi guys!

I tried to import the project. The current build.gradle for the alerter module will throw an error if no Bintray credentials are not present. This means no one can open the project, until they go to their gradle.properties file and provide dummy credentials.

See here:

![Screenshot of the issue](https://cloud.githubusercontent.com/assets/13744304/23035043/90b44f3a-f486-11e6-8aad-271b8c6

[2017-02-16 19:04] roughike commented on #4
Closing this one, as the merge was done!

[2017-02-16 19:04] #4 closed

[2017-02-16 22:46] fodawim opened #6 "Custom layouts for Alerts."
Something I could see useful, is allowing custom layout files to be provided, is this something planned for in the future?

This could allow much more flexibility, such as custom fonts, no icons, etc.

[2017-02-17 04:17] zhangxuyang321 commented on #6
dismiss listener? show listener?

[2017-02-17 04:20] zhangxuyang321 opened #7 "Lack of dismiss Listener"
dismiss Listener? show Listener

[2017-02-17 05:22] wopian opened #8 "Typo in repo description"
Says `Alterting Library` instead of `Alerting Library` 😉

[2017-02-17 08:29] nisrulz opened #9 "Publish to bintray/jitpack"
As of now the integration of the lib requires that one has to checkout the code and include the module.
 If published to jitpack/bintray other devs need only include a single line for the  dependency and gradle would pull the dependency.

[2017-02-17 09:17] roughike commented on #9
That's not true: see the end of the README:

[code]

That line could be at the top though.

[2017-02-17 09:37] #9 closed

[2017-02-17 09:40] kpmmmurphy commented on #8
Good catch 😓

[2017-02-17 09:40] #8 closed

[2017-02-19 13:16] fukemy commented on #6
saw his code and custom it like you want

[2017-02-20 09:32] #7 closed

[2017-02-20 18:00] diogobernardino opened #14 "Possible minSdkVersion < 16 ?"
Wondering if min sdk is 16 for a reason... Do you foresee any problems by having a min sdk < 16? In my case would be 15.

[2017-02-20 18:08] kpmmmurphy commented on #14
I want to drop it to API level 9 if possible. There are a few compatibility issues, but it shouldn't be too difficult to do!

[2017-02-20 18:33] #14 closed

[2017-02-20 21:50] diogobernardino opened #15 "Strange behaviour using click TextView as the event to trigger alerter"
I've run into a strange behaviour while defining an `OnClickListener` in a `TextView` in order to show an alerter. It doesn't show at the first click, while the second triggers it twice. You can observe the same behaviour every second click. I just reproduced it in the example application by adding a `TextView` to the layout and:

[code]

[2017-02-21 02:12] tribbianiwang opened #16 "if you can make minSdkVersion 14 ,that will be very nice"

[2017-02-21 10:46] ArisChoice opened #17 "Multiple clicks opens multiple alerts"
How to handle  this scenario?

[2017-02-21 13:04] kpmmmurphy commented on #16
PR open for this - https://github.com/Tapadoo/Alerter/pull/18

[2017-02-21 13:05] kpmmmurphy commented on #17
Can you give me a little more detail please?

[2017-02-21 13:05] kpmmmurphy commented on #15
Thanks for flagging - I'll look into it.

[2017-02-21 15:24] #16 closed

[2017-02-21 16:49] RamolaWeb commented on #17
@kpmmmurphy we must use the same alerter for displaying the alert instead of hiding the alerter and showing the new one.

[2017-02-21 18:40] diogobernardino commented on #15
And the same happens with `ImageButton`.

[2017-02-22 06:39] KingJA commented on #17
Maybe singleton can solve this "bug",but in most cases,you won't create and show the Alert many times in a short time.

[2017-02-22 09:38] ArisChoice commented on #17
Please Check this,
This is what actually happening on multiple click.[https://www.dropbox.com/s/qom38n9dn8swme8/device-2017-02-22-150516.mp4?dl=0](url)

[2017-02-22 09:44] kpmmmurphy commented on #15
Hi @diogobernardino - I can't reproduce this. I've tried both the `TextView` & `ImageButton`.

[2017-02-22 09:49] kpmmmurphy commented on #17
@RamolaWeb Can you put in a pull request with the functionality you desire, and I can review?

@KingJA It was deliberately designed that way, so it's not a bug.

@ArisChoice I'm getting a 404 with that link.

[2017-02-22 09:57] diogobernardino commented on #15
Really? Ok, then I need to give it a try in a real device, maybe the problem was the emulator.

[2017-02-22 09:58] ArisChoice commented on #17
@kpmmmurphy  Can we handle  this flickering. That is the  point ,BTW  this is awesome library.

[2017-02-22 10:01] kpmmmurphy commented on #15
Please do. I was using a OnePlus 2 to test, and both perform correctly - Using library version 1.0.3.

[2017-02-22 10:10] kpmmmurphy commented on #17
@ArisChoice Thanks for the video! I'll see if I can improve on this. Just a suggestion but - It could be solved in your app, by disabling the submit button when the network is unavailable?

[2017-02-22 10:19] ArisChoice commented on #17
Thanks , :+1:   But this is a sample,What i wants to show u.@kpmmmurphy

[2017-02-22 12:06] luoguibin opened #21 "Multiple onDraw()"
When the Alerter is shown, the PorterDuffView will not call the method onDraw until it is hiden.
Here is my code:
[code]

[2017-02-22 13:10] #17 closed

[2017-02-22 13:11] RamolaWeb opened #22 "Custom Animation for the enter and exit of the Alert"
It will be create to have an option for custom animation of exit and enter of the alert  other than slide in and slide out effect.

[2017-02-22 14:50] UsherBaby opened #23 "Support alert to show in bottom location"
Would you like to support alert to show in bottom location

[2017-02-22 22:08] diogobernardino commented on #15
Unfortunately I do see the problem even in a real device (Nexus 5X). And again, in order to discard a problem in my layout, I used the example app and even there I see these hiccups. Though everything works fine if instead of an Alerter I use a normal android Toast. I'm confused...

Thinking out loud... the first notification shows fine, but after that one it feels like the app loses the focus and

[2017-02-23 14:13] k0shk0sh opened #26 "Possible duplication of icon names"
I have an icon named __ic_notifications__ when the Alert is showing, my icon tints to white color, its due to the fact that the library has the same name as my icon. A possible solution would be to change the icons name to something that is tied to the library name.

[2017-02-23 17:36] kpmmmurphy commented on #21
Care to elaborate a little more here? I've never seen anyone do `setContentView(new PorterDuffView(this));` before.

[2017-02-23 17:37] kpmmmurphy commented on #23
Snackbars do this - so why not just use them instead?

[2017-02-23 17:58] AlirezaHafez opened #27 "RTL"
Is there Any support for RTL Languages?!
It's fairly simple to change the alerter_alert_view.xml and make it RTL Friendly!

[2017-02-24 00:51] luoguibin commented on #21
It's a view.
   public class PorterDuffView extends View {
   ...
    @Override
    protected void onDraw(Canvas canvas) {
        super.onDraw(canvas);
        Log.e(TAG, "drawCount " + drawCount++);
        ...
      }
   ...
   }

public class MainActivity extends AppCompatActivity {

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceStat

[2017-02-24 04:05] jaychang0917 opened #28 "Can the alert view anchor to a view?"
The library is awesome. I wanna know can the alert view slide down from the bottom of toolbar?

[2017-03-03 03:25] mitchelldavis44 opened #31 "set action?"
Would there be any way to set an action?  For example, if someone accidentally deletes something in a coordinator layout  with a snackbar I can do .setAction and set a button to undo.

[2017-03-03 09:41] kpmmmurphy commented on #31
@mitchelldavis44 Would using the already existing on click listener functionality not suffice? Or just use a Snackbar?

[2017-03-03 09:44] kpmmmurphy commented on #28
Thank you! I'm afraid this is not possible right now - But you're welcome to put in a pull request. This library is designed to be simple, and I'd worry about the complexity of correctly managing what you''re asking for.

[2017-03-03 09:57] #28 closed

[2017-03-04 06:56] RamolaWeb commented on #22
@kpmmmurphy  created a pull request #33  for the above feature.

[2017-03-05 02:38] mitchelldavis44 commented on #31
@kpmmmurphy that works fine, was hoping there would be some way to do it using alerter, instead of having a snackbar show also.

[2017-03-06 09:37] #31 closed

[2017-03-06 11:28] sazid opened #34 "Expose a hide() method to hide the alert"
Currently, I'm using Reflection to hide the alert, but I think it would be much better to have a public method to do it.

[2017-03-06 13:02] harshapulikollu opened #35 "Unable to add dependency in abdroid studio"
I'm unable to add this compile 'com.tapadoo.android:alerter:1.0.4' dependency in build.gradle file
I'm getting error:
 Failed to resolve: com.tapadoo.android:alerter:1.0.4
What to do to resolve that error?

[2017-03-06 13:50] kpmmmurphy commented on #35
Hi @harshapulikollu - could you try `com.tapadoo.android:alerter:1.0.4` instead.

[2017-03-06 14:36] harshapulikollu commented on #35
It worked 😊 thanks for helping

On 06-Mar-2017 7:21 PM, Kevin Murphy <notifications@github.com> wrote:

Hi @harshapulikollu<https://github.com/harshapulikollu> - could you try com.tapadoo.android:alerter:1.0.4 instead.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Tapadoo/Alerter/issues/35#issuecomment-284400609>, or mute t

[2017-03-06 17:07] #35 closed

[2017-03-06 17:18] #22 closed

[2017-03-07 09:54] kpmmmurphy commented on #27
Hi @AlirezaHafez - I'm updating this here https://github.com/Tapadoo/Alerter/pull/36

[2017-03-07 09:54] kpmmmurphy commented on #26
Hi @k0shk0sh - Good spot. I've updated https://github.com/Tapadoo/Alerter/pull/36

[2017-03-07 09:55] #23 closed

[2017-03-07 12:31] dalwadi2 opened #37 "Disable Outside Touch"
I want to disable the outside touch when the Alerter is showing. Can I do that with your Library?
or by Any other way?
let me know ASAP.
thanks.

[2017-03-07 12:55] kpmmmurphy commented on #37
The library does not currently support this. You could disable touch events to views when the Alerter is show, and re-enable them when it is hidden?

[2017-03-07 13:04] dalwadi2 commented on #37
Okay, I'll do that, thanks.

[2017-03-08 17:18] jonathan-caryl opened #40 "Showing lots of Alerts rapidly can leave stray Alerts on screen"
In the sample app, if you press a bunch of times on DEFAULT ALERT you end up with a stack of Alerts on top of each other, it just looks like one. If you then press on e.g. COLOURED ALERT it'll call `clearCurrent` and remove the first of the existing Alerts that it finds, but when the coloured Alert goes away you can see the old Alerts still there. If you do COLOURED ALERT (slowly) enough times eve

[2017-03-09 09:43] dalwadi2 commented on #37
I've created that functionality and upload the pull request can you take a look @kpmmmurphy ?
thanks

[2017-03-09 12:14] sboyokis commented on #37
I agree, we need it. Can you take a look and merge if it's ok for you ?

[2017-03-10 16:39] #27 closed

[2017-03-10 16:39] #26 closed

[2017-03-10 20:23] mehmetsefa2644 commented on #40
How can this problem be solved? I think suspending the button a few seconds after pressed might help. Any ideas?

[2017-03-12 13:59] kpmmmurphy commented on #40
Hi @jonathan-caryl - Thanks for flagging this. I was aware of it, and it's certainly a limitation of the current design. I'll see about a fix. Have you modified the code base locally yourself to try and improve things?

- Kevin.

[2017-03-13 10:53] jonathan-caryl commented on #40
@kpmmmurphy I've not had time to figure out a proper fix. It seems to me you could do something like

            final ViewGroup decorView = (ViewGroup)activity.getWindow().getDecorView();
            for (int i = 0; i < decorView.getChildCount(); i++) {
                View childView = decorView.getChildAt(i);
                if (childView instanceof Alert) {
                    Alert alert = (A

[2017-03-14 01:43] Jsaiao commented on #40
+1

[2017-03-14 01:44] Jsaiao commented on #37
+1

[2017-03-14 01:49] Jsaiao opened #41 "Button options"
Hello friend, incredible LIB that you have created, I've been using it in a project and would like to know if it's possible to include buttons inside the notification. Example: When a notification appears, there is also option A and option B each with a different activity.

Thanks for help. ;)

[2017-03-14 23:15] zalito12 opened #42 "No icon option"
Hi! Is there a way to don't show any icon? I tried "null" and color trasparent but it has to be a Drawable so it doesn't work. I could make a trasparent drawable but it would be very easy to check if drawable exists or is null and set icon to null if that.
If there is a way I couldn't find it and if there is not we could add that option.

[2017-03-17 09:14] dmacan23 opened #43 "Make vibration optional"
It would be cool if the haptic feedback was optional instead of mandatory since it can be sometimes annoying

[2017-03-20 14:43] EddyVerbruggen commented on #34
There already is one, but it's on `Alert` rather than on `Alerter`. Pseudo code:

[code]

[2017-03-23 04:04] ZetDeveloper opened #45 "Disable close alert by click"
how to Disable close alert by click ?

[2017-03-26 09:28] ThinkingXuan opened #46 "more click repeat show."

[2017-03-27 02:34] kjsolo opened #47 "setBackgroundColorInt options"

[2017-04-01 10:15] dhamdani666 opened #48 "Create Alerter in Service"
how to make alerter in service ?

[2017-04-06 15:18] kpmmmurphy commented on #48
Alerter needs an Activity. A service has no UI. Perhaps a BroadcastReceiver in your BaseActivity would be the right approach.

[2017-04-06 15:18] #48 closed

[2017-04-06 15:51] dhamdani666 commented on #48
is there a tutorial?

[2017-04-13 12:15] ulaserdegor commented on #34
Same problem.

[2017-04-17 19:50] itshnegg commented on #45
You may set your own click listener, it will help.

[2017-04-18 00:54] limjiregister commented on #37
this function is important

[2017-04-18 01:36] Jsaiao commented on #37
+1

[2017-05-09 03:45] MartinNemec commented on #41
+1

[2017-05-09 04:31] MartinNemec opened #52 ""progress bar" for remaining time"
Thanks for the awesome lib!
In multiple new Google apps a very thin progress bar is used (e.g. the new web login form)

It would be handy if a similar progress bar is indicating the remaining time of an Alerter until automatically disappearing when millis are given.

[2017-05-09 13:52] #37 closed

[2017-05-09 13:55] kpmmmurphy commented on #43
This has been included in version 1.0.8, see method below.

https://github.com/Tapadoo/Alerter/blob/master/alerter/src/main/java/com/tapadoo/alerter/Alerter.java#L378

[2017-05-09 13:55] #43 closed

[2017-05-09 13:56] kpmmmurphy commented on #42
Good idea - I've included this in version 1.0.8, see method below.

https://github.com/Tapadoo/Alerter/blob/master/alerter/src/main/java/com/tapadoo/alerter/Alerter.java#L326

[2017-05-09 13:56] #42 closed

[2017-05-09 13:58] kpmmmurphy commented on #40
Thanks for all the comment. I've updated this in version 1.0.8. Now, when we ensure all alerts are removed, by first fading them, then removing them from the DecorView.

[2017-05-09 13:58] #40 closed

[2017-05-09 13:59] #46 closed

[2017-05-09 14:08] kpmmmurphy commented on #41
Hi @Jsaiao, thanks for you comment. No functionality for this at the moment. It would likely require the Alerter to take a custom XML layout, so it's more configurable.

[2017-05-09 14:08] #41 closed

[2017-05-14 18:38] Swisyn opened #55 "java.lang.NullPointerException"
Fatal Exception: java.lang.NullPointerException
       at com.tapadoo.alerter.Alerter$1.run(SourceFile:90)
       at android.view.ViewPropertyAnimator$AnimatorEventListener.onAnimationEnd(ViewPropertyAnimator.java:1035)
       at android.animation.ValueAnimator.endAnimation(ValueAnimator.java:1056)
       at android.animation.ValueAnimator.access$400(ValueAnimator.java:50)
       at android.animat

[2017-05-20 07:25] MrVipinVijayan opened #56 "Crashes - NullPointerException"
java.lang.NullPointerException: Attempt to invoke virtual method 'void android.view.ViewGroup.removeView(android.view.View)' on a null object reference
                                                                                  at com.tapadoo.alerter.Alerter$1.run(Alerter.java:90)
                                                                                  at android.view.ViewPropertyAn

[2017-05-24 07:23] WangJian0 opened #57 "Binary XML file line #29"
I use this on Android Studio,and exception happened:
android.view.InflateException: Binary XML file line #29: Binary XML file line #29: Error inflating class android.support.v7.widget.AppCompatImageView
	at android.view.LayoutInflater.inflate(LayoutInflater.java:539)
	at android.view.LayoutInflater.inflate(LayoutInflater.java:423)
	at android.view.LayoutInflater.inflate(LayoutInflater.java:374)
	a

[2017-05-26 09:23] WangJian0 opened #58 "How to use this when app exist"
I want to use it when app exist but its not show.
How to solve this?
Could you give me some proposes?
Thanks.

[2017-06-02 19:57] iceberg1369 opened #59 "add RTL support"
add setLayoutDirection so that we could change layout direction for RTL texts in non RTL phones as well

[2017-06-04 20:36] MoustaphaHadeed commented on #59
It's already supporting RTL, just make sure to set your activity layout direction to RTL:

[code]

![screenshot_2017-06-04-23-24-02](https://cloud.githubusercontent.com/assets/11995027/26765125/ee3b28b2-497d-11e7-8ef9-a3d1f29d8f10.png)

[2017-06-04 20:37] MoustaphaHadeed commented on #59
It's already supporting RTL, just make sure to set your activity layout direction to RTL:

[code]

![screenshot_2017-06-04-23-24-02](https://cloud.githubusercontent.com/assets/11995027/26765125/ee3b28b2-497d-11e7-8ef9-a3d1f29d8f10.png)

[2017-06-05 05:26] #59 closed

[2017-06-05 07:16] neeloor opened #60 "Cannot use inside BroadcastReceiver"
Thanks a lot for this lib, I have issues in using inside OnReceive
Alerter.create(context)
                .setTitle("Alert Title")
                .setText("Alert text...")
                .show();

[2017-06-05 09:39] dhamdani666 commented on #60
Alerter not support Context , alerter support for activity & fragment not support service , etc

[2017-06-05 09:41] dhamdani666 opened #61 "Dectect Running Alerter"
How to know alerter is running  ?
isShowing() ?

[2017-06-05 15:49] dhamdani666 opened #62 "Change Font Face"
How To Change Font Face ?

[2017-06-12 16:27] yagneshlp opened #63 "Modify Alerter Height"
For my Requirements, I need to decrease the Alerter Height. Any Possible way to do so?
Or should i resort to removing the Title?

[2017-06-18 20:06] kpmmmurphy commented on #62
This is not possible at the current time.

[2017-06-18 20:06] #60 closed

[2017-06-18 20:06] #58 closed

[2017-06-18 20:08] #57 closed

[2017-06-18 20:09] kpmmmurphy commented on #63
This is not possible with the current implementation - Removing the title is the best option for now.

[2017-06-18 20:09] #63 closed

[2017-06-19 17:16] yagneshlp commented on #63
Thank you!

[2017-06-20 19:52] nick-iCars opened #65 "Custom font size"
Our app is viewed by drivers and the default text is a bit  too small. Any chance of getting a jumbo text mode?

Thank you

BTW this is a very nicely designed component and api. Thanks for creating it.

[2017-06-20 20:03] kpmmmurphy commented on #65
Hi Nick,

Not at the moment, but I'll add it as an enhancement in version 2. You could always fork the repo and modify the text size to suit your needs for now.

[2017-06-20 20:45] nick-iCars commented on #65
Kevin,
Thanks for the response. If I end up implementing it ill submit a pull req.

[2017-06-22 19:33] dskwon19 opened #66 "Swipe to dismiss or another button to close?"
I think it would be a great feature to be able to swipe and dismiss the alert, in case onClick is used for something else.

Or another close button at the top right if that's easier.

[2017-06-23 02:26] Sabirjan commented on #56
This problem has also happened in my application.Is there a solution?Occurs when more notifications are displayed.

[2017-06-23 15:53] kpmmmurphy commented on #66
Hi David, Swipe to dismiss would be a great addition. Have you written any code for this?

[2017-06-23 15:54] kpmmmurphy commented on #61
There's not proper functionality for this right now - I'll add it as an enhancement.

[2017-06-23 16:34] dskwon19 commented on #66
No I have not. I would if I could find some spare time!

[2017-06-23 18:08] iceberg1369 commented on #56
yes, this error occurs when multiple notifications are opened at once

[2017-06-23 18:49] dskwon19 commented on #66
I actually have some code if you'd like to take a look

[2017-06-23 19:42] kpmmmurphy commented on #66
Absolutely, put in a pull request and we can take it from there!

[2017-06-26 11:38] anujdeo opened #67 "Failed to resolve: com.tapadoo.android:alerter:1.0.9"
Hello,

I am not able to load this library in my code.
I get this error when I include it in gradle: **Failed to resolve: com.tapadoo.android:alerter:1.0.9**

My Gradle version : 2.2.0
My Android Studio version : 2.3.1

**com.tapadoo.android:alerter:1.0.8 works**

[2017-06-26 11:49] kpmmmurphy commented on #67
Hi @anujdeo - The last version didn't upload to BinTray so you'll have to rely on 1.0.8 for now I'm afraid. I'll update as soon as I can.

[2017-06-26 12:41] anujdeo commented on #67
Thanks for prompt reply. Yes I am using 1.0.8

[2017-06-26 12:57] anujdeo opened #68 "Request to add OK-Cancel Buttons at bottom"
Hello,
This is an amazing library I just loved it.
It has a potential to replace boring Alert/Popups.

I request you to Add Buttons on it.

[2017-06-26 14:05] dskwon19 commented on #66
I've posted the PR

[2017-06-27 08:56] kpmmmurphy commented on #66
Updated in https://github.com/Tapadoo/Alerter/pull/69, and available version 1.0.9 and above.

[2017-06-27 08:56] #66 closed

[2017-06-27 08:58] kpmmmurphy commented on #67
@anujdeo This has been fixed in https://github.com/Tapadoo/Alerter/pull/69, so I'm going to close out this issue. Thanks again for flagging.

[2017-06-27 08:58] #67 closed

[2017-06-27 09:00] kpmmmurphy commented on #68
Hi @anujdeo - You can add an OnClickListener to it, which acts in the same way. What did you have in mind?

[2017-06-27 09:01] #47 closed

[2017-06-28 14:24] anujdeo commented on #68
@kpmmmurphy Yes I used onClickListener. But suppose you have 2 different operations to be perform after click then it would be great if we have buttons on it.
E.g. Suppose I want to use Alerter as "Delete Confirmation" - Then I should have "Delete" and "Cancel" buttons on it.

Basically what I think is your library is a Beautiful replacement for Alertbox.

[2017-06-30 14:57] qbait commented on #56
I replaced my Snackbar alerts with Alerter and I'm getting also this NPE, what's the best way to deal with it?

[2017-07-04 05:20] Sabirjan opened #71 "NullPointerException"
`   java.lang.NullPointerException
                                                                             at com.tapadoo.alerter.Alerter$1.run(Alerter.java:91)
                                                                             at android.view.ViewPropertyAnimator$AnimatorEventListener.onAnimationEnd(ViewPropertyAnimator.java:1050)

[2017-07-04 05:21] Sabirjan commented on #71
This problem has also happened in my application.Is there a solution?Occurs when more notifications are displayed.

[2017-07-04 14:22] kpmmmurphy commented on #71
Hi @Sabirjan - I'm not sure why this crash is occurring, but I'll add some additional error handling to help guard against it.

[2017-07-04 14:22] #71 closed

[2017-07-07 15:23] kpmmmurphy commented on #65
Present in version 2.0.0.

[2017-07-07 15:23] #65 closed

[2017-07-07 15:24] kpmmmurphy commented on #62
This has been added in version 2.0.0

[2017-07-07 15:24] #62 closed

[2017-07-07 15:24] nick-iCars commented on #65
You rock!

[2017-07-07 15:25] kpmmmurphy commented on #61
This has been added in version 2.0.0. Simply call `Alerter.isShowing();` 😬

[2017-07-07 15:25] #61 closed

[2017-07-07 15:26] kpmmmurphy commented on #56
In version 2.0.0 I've added a try-catch to handle any unexpected errors here.

[2017-07-07 15:26] #56 closed

[2017-07-07 15:26] kpmmmurphy commented on #55
Version 2.0.0 has additional error handling for this issue.

[2017-07-07 15:26] #55 closed

[2017-07-07 15:27] kpmmmurphy commented on #52
This has been added to version 2.0.0.

[2017-07-07 15:27] #52 closed

[2017-07-07 15:27] #45 closed

[2017-07-07 15:28] kpmmmurphy commented on #34
I've added this in version 2.0.0, simply call `Alerter.hide();`.

[2017-07-07 15:28] #34 closed

[2017-07-07 15:28] #21 closed

[2017-07-07 15:28] #15 closed

[2017-07-07 15:29] #6 closed

[2017-07-14 12:04] williambao opened #76 "Can update text or icon after showing?"
Hi,
It's can update title/text/icon after the `Alerter` showing?
In my app, use `Alerter` to notify user when receive new audio message.
And I want to show audio playing duration in `text`.

Thanks,

[2017-07-14 14:56] kpmmmurphy commented on #76
Hi William,

This isn't support, however you could try finding the Alert's TextView, by calling findViewById(R.id.tvText) when it's showing, and update it as you would any other text view. Just make sure to null check it.

See here -

https://github.com/Tapadoo/Alerter/blob/master/alerter/src/main/res/layout/alerter_alert_view.xml#L68

[2017-07-14 14:56] #76 closed

[2017-07-15 06:15] MrVipinVijayan opened #77 "Crash"
Hi,

The library is crashing.

Please provide a fix.

java.lang.NullPointerException:
  at com.tapadoo.alerter.Alerter$1.run(Alerter.java:90)
  at android.view.ViewPropertyAnimator$AnimatorEventListener.onAnimationEnd(ViewPropertyAnimator.java:1119)
  at android.animation.ValueAnimator.endAnimation(ValueAnimator.java:1239)
  at android.animation.ValueAnimator$AnimationHandler.doAnimationFrame(Valu

[2017-07-24 15:18] liangweihao opened #78 "setIcon crash"
ndroid.content.res.Resources$NotFoundException: File res/drawable-xxhdpi-v4/   4.4.2 huawei crash

[2017-07-24 15:33] kpmmmurphy commented on #78
I'll need some more detail on this. Can you post the code where you're invoking the Alerter please.

[2017-07-26 08:31] jaychang0917 opened #79 "There is an extra bottom shadow"
Hi, I run the demo project and found the view has an extra bottom shadow. How to remove it?

My device: Samsung note4, Android 6.0.1

The screenshot :
http://imgur.com/vMk5LVK

[2017-07-31 10:27] AlaaZarifa commented on #59
@MustaphaHadid hey man, your method didn't work because I'm already forcing rtl layout in the splash activity with this code..
[code]

 it basically forces rtl layout for every activity !
Can you help me finding a work around !?

[2017-08-01 11:22] rojalearner commented on #68
hai,
If i use your library in @Fullscreen activity then alert have too empty space at top of alert

[2017-08-03 19:03] oguzeroglu opened #80 "Progress Bar Color"
Hello guys! First of all, thanks so much for this amazing library.

Is there any way to change the color of the progress bar?

[2017-08-18 15:30] sergii-frost commented on #78
I had the same issue, it is happening on Android 4.x - 5.x

That is happening in case if you try to use .png as a drawable.

@liangweihao if you switch to .svg instead (Android Studio supports .svg for import as Vector Assets), and do a bit of additional setup in the project to be backwards compatible with Vector drawables, you will get it working.

Changes needed in project to work on older Andro

[2017-08-18 15:31] sergii-frost commented on #78
@kpmmmurphy I have a question to you as well, please let me know if I should have a separate issue for it, but is it possible to change colour for the icon itself?

I have a need to have light background for the Alerter message, but icon is always white, even if I explicitly use coloured drawable resource.

[2017-08-19 10:26] sijojosep commented on #78
I had the same issue .

NotFoundException for com.aitrich.android.orderpro
                                                                    android.content.res.Resources$NotFoundException: File res/drawable-xxhdpi-v4/ic_map_marker_white_48dp.png from xml type xml resource ID #0x7f020102

[2017-08-19 10:29] sijojosep opened #81 "Resource not found in icons"
i had a problem when set icon to the alerter follow the
creash report
==========

 NotFoundException for com.aitrich.android.orderpro
                                                                    android.content.res.Resources$NotFoundException: File res/drawable-xxhdpi-v4/ic_map_marker_white_48dp.png from xml type xml resource ID #0x7f020102

[2017-08-19 17:19] MustaphaHadid commented on #59
Try this,

`Resources appResources = app.getResources();
    DisplayMetrics displayMetrics = appResources.getDisplayMetrics();
    Configuration resConfiguration = appResources.getConfiguration();
    resConfiguration.setLayoutDirection(new Locale(lang)); `

[2017-08-22 08:27] anderscheow opened #82 "Global alerter"
Is it possible to create an global alerter regardless on which activity?

[2017-08-22 13:49] kpmmmurphy commented on #82
Unfortunately no, it's not possible as each Activity has its own Window/DecorView which the Alerter gets attached to.

[2017-08-22 13:49] #82 closed

[2017-09-07 11:10] amanzan opened #83 "Change ProgressBar color?"
Is there any way to change the ProgressBar color?

[2017-09-08 10:40] liupeng826 opened #84 "Android 5.0 has stopped"
I have drawable-hdpi-v4/ic_error.png but still error
Error:
android.content.res.Resources$NotFoundException: File res/drawable-hdpi-v4/ic_error.png from xml type xml resource ID #0x7f02005f

[2017-09-15 23:13] patrickpissurno commented on #79
Same problem here. Any updates?

[2017-09-15 23:48] patrickpissurno commented on #80
There is no documented way of doing it, but you can access the ProgressBar view by doing like this:
[code]
Then you can change the color by doing the following:
[code]
Hope it helps!

[2017-09-17 00:20] JonathanSilvaTI opened #85 "Progress bar is not shown"
I used:
.setDuration(2000)
.enableProgress(true)
.show()
but the bar is not displayed
(Android 5.0.0 API 21)

[2017-09-18 09:13] Bobyang912 opened #86 "Alerter show fail"
Alerter mlerter;
in onCreate()：
mlerter = Alerter.create(this)
                .setText("text")
                .setIcon(R.drawable.alerter_ic_notifications)
                .setBackgroundColor(R.color.success);

when button click,i call
mlerter.show() to show the Alerter,It was successful for the first time, but then it failed

[2017-09-18 13:29] kpmmmurphy commented on #86
Hi Bob, the current implementation does not cater for this. I'd recommend adding a method for creating the Alerter, and pass in a String which you'd like to display, such as -

[code]

This way, there is no need for holding a reference to an Alerter instance, and the Alert will show each time.

[2017-09-18 13:31] #84 closed

[2017-09-18 13:32] kpmmmurphy commented on #83
Not currently, but I will add it in the next release.

[2017-09-18 13:33] kpmmmurphy commented on #80
Hi @oguzeroglu, apologies for the late response. I'll include this in the next release.

[2017-09-18 15:03] kpmmmurphy commented on #83
This has been included in version 2.0.1

[code]

[2017-09-18 15:03] #83 closed

[2017-09-18 15:04] kpmmmurphy commented on #81
I've updated how drawables are loaded, this should be fixed in version 2.0.1

[2017-09-18 15:05] kpmmmurphy commented on #80
I've updated this in version 2.0.1

[code]

[2017-09-18 15:05] #80 closed

[2017-09-18 15:06] kpmmmurphy commented on #79
Thanks for flagging this @jaychang0917  & @patrickpissurno, I've updated this in version 2.0.1 so it should no longer occur.

[2017-09-18 15:06] #79 closed

[2017-09-18 15:11] kpmmmurphy commented on #78
I've updated this in version 2.0.1. @sergii-frost no support for this, but feel free to prepare a PR and I'll review it.

[2017-09-18 15:11] #78 closed

[2017-09-18 15:12] kpmmmurphy commented on #77
Updated in version 2.0.1

[2017-09-18 15:12] #77 closed

[2017-09-18 15:12] #81 closed

[2017-09-18 15:12] kpmmmurphy commented on #85
I've updated this in version 2.0.1. Try changing the colour to something more contrasting.

[2017-09-18 15:12] #85 closed

[2017-09-19 02:14] Bobyang912 commented on #86
This raises a problem. If I call this method（showSuccess(final String text)） multiple times in my application, it will generate multiple instances of Alerter without getting the release. Is that a problem?

[2017-09-19 09:46] kpmmmurphy commented on #86
The library handles this, so it's not a problem.

[2017-09-19 09:49] #86 closed

[2017-09-20 23:08] JonathanSilvaTI commented on #85
I updated the lib and changed the color but nothing to show the progress bar

[2017-09-26 15:25] jaychang0917 opened #88 "Custom view support"
It would be nice to support custom view like `AlterDialog`.

Cheers.

[2017-10-07 07:13] anujdeo opened #89 "Statusbar remains visible for AppCompatActivity"
If I use Alerter in AppCompatActivity it is created from below of the System Statusbar. Is there any setting to fix this?
Check this screenshot for details:
https://drive.google.com/file/d/0B22kbTLSeBysdUhmZlhzVEJDWEdCOF9PV2Nsbk5jLWFzUVo4/view?usp=sharing

[2017-10-10 09:42] kpmmmurphy commented on #89
Hi @anujdeo - Are you setting any styles to that activity? Or configuring your window in any way? Feel free to post some code here so I can take a look.

[2017-10-12 17:35] tellfa opened #90 "How to use into Adapter"
Hi, thanks for this great library.
but how can i use this library into Adapter.
i use this code : `Alerter.create(context)` but does not accept context.

[2017-10-13 11:39] kpmmmurphy commented on #90
Hi @tellfa - You could pass the Activity into the Adapter via it's constructor, and that way you be able to call it.

[2017-10-13 11:39] #90 closed

[2017-10-13 22:02] tellfa commented on #90
are this true way?!

[2017-10-14 05:53] anujdeo commented on #90
I think yes. Send Activity context through your Adapter's Constructor.

[2017-10-28 05:50] TCQQ commented on #89
I also have same problem, this is my activity theme
![qq 20171028135038](https://user-images.githubusercontent.com/10644057/32131679-fec79c20-bbe6-11e7-9ab6-0d6aa30f8800.png)

    <style name="AppTheme" parent="Theme.AppCompat.Light.NoActionBar">

        <item name="colorPrimary">@color/colorPrimary</item>
        <item name="colorPrimaryDark">@color/colorPrimaryDark</item>
        <item name="co

[2017-10-28 05:51] TCQQ commented on #89
<?xml version="1.0" encoding="utf-8"?>
<android.support.design.widget.CoordinatorLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/cl_root_layout"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <android.support.desig

[2017-11-06 17:09] amanzan opened #91 "OnSwipeToDismissListener?"
Is it possible to add a listener for detecting when the Alerter view has been dismissed?

[2017-11-21 10:00] hossein-rezaeian opened #92 "how to change direction to rtl"
hi, how to change direction icon and text and title to rtl
tanks

[2017-11-22 11:00] maxouille opened #93 "create not working in ViewPager"
Hi !

I'm using your awesome library in my app and it's working fine except in a ViewPager.

I'm using :
Alerter.create(getActivity())
                    .setTitle("Warning")
                    .setText("No record")
                    .setIcon(R.drawable.alert_icon)
                    .setBackgroundColorInt(Color.RED)
                    .setDuration(2000)
                    .show();

To crea

[2017-11-22 11:15] kpmmmurphy commented on #93
Hi @maxouille, the life cycle of Fragments changes when they're placed in a ViewPager. Have you tried calling the Alerter from  the`setUserVisibleHint` fragment method?

[2017-11-22 11:28] maxouille commented on #93
OH I did not know that ...
Do you have an image or a scheme of the fragment lifecycle in a viewpager ?
I'll try it :)

[2017-11-22 11:34] kpmmmurphy commented on #93
It can be a real pain! :( Fragments that are off screen get instantiated, which can cause knock on affects. Here's an article with some details on it.

http://www.t3hmun.com/posts/2017-01-24_Fragment-Life-Cycle-in-a-ViewPager.html

[2017-11-22 11:40] kpmmmurphy commented on #92
Have you tried setting the gravity?`Alerter.create(this).setTitle("Title").setContentGravity(Gravity.END).show()`

[2017-11-22 11:40] #92 closed

[2017-11-22 11:41] kpmmmurphy commented on #89
Hi @TCQQ - Where are you calling the Alerter from?

[2017-11-22 11:42] kpmmmurphy commented on #91
Have you tried?

[code]

[2017-11-22 15:09] maxouille commented on #93
Okay it did not help. I can't find a way to display corretly my Alerter ...

[2017-11-22 23:34] TCQQ commented on #89
In AppCompatActivity

    public void showAlert(String title, String text, int backgroundColor) {
        if (!Alerter.isShowing()) {
            Alerter.create(this)
                    .setTitle(title)
                    .setText(text)
                    .setBackgroundColorRes(backgroundColor)
                    .setIcon(R.drawable.alerter_ic_face)
                    .show();
        }
    }

[2017-11-24 08:15] nidhinprathap opened #94 "Alerter goes Behind DialogFragment"
On using Dialog Fragment, The alerter view is shown behind the view

[2017-12-06 14:13] Holloweye commented on #94
I have the same issue, is there any quick-fix that could be implemented in the meanwhile?

[2017-12-09 14:25] guicunha commented on #57
Same error for, me what the resolution for it?

[2017-12-11 14:49] kpmmmurphy commented on #94
Unfortunately, Dialog Fragments manage their own windows, so this is not possible with the current implementation.

[2017-12-11 14:49] #94 closed

[2017-12-12 15:42] kpmmmurphy commented on #89
I've added a fix for this into version 2.0.2, https://github.com/Tapadoo/Alerter/blob/master/CHANGELOG.md

[2017-12-12 15:42] #89 closed

[2017-12-14 14:29] okabbas opened #97 "please add rtl property"
Hi . please add rtl property for right to left language . thanks

[2017-12-14 14:32] okabbas opened #98 "please add option custom layout"
Hi . Please add an option to add a custom layout to the alert . thanks .

[2017-12-17 17:57] jonathansilva commented on #85
I have the same problem
the version is 2.0.2

`public static void alerter(Integer title, Activity activity) {
        Alerter.create(activity)
                .setTitle(title)
                .setBackgroundColorRes(R.color.colorPrimary)
                .setDuration(2000)
                .enableProgress(true)
                .setProgressColorRes(R.color.colorGreenDark)
                .show();

[2017-12-19 17:01] orcchg opened #99 "Crash on fast show alerter"
[code]

maybe just check for nullability and skip showing alert?

actually, here:

[code]

[2017-12-19 17:23] kpmmmurphy commented on #99
Hi @orcchg, thanks for flagging this. I'd be happy to review your pull-request once it's ready.

[2017-12-22 06:39] yueyingsk opened #100 "Upgrade issue"
I found that the default bell turned black when I upgraded from 2.0.0 to 2.0.2，But there is no method "setProgressColorRes" in version 2.0.0，So what's the problem with the new version?Oh, by the way, I went back to version 2. 0. 0 and the default bell changed back to white.

[2018-01-08 09:39] #97 closed

[2018-01-08 09:51] #91 closed

[2018-01-12 06:38] TCQQ opened #105 "Feedback Alerter Problem"
When the alert is displaying, i cant change alert text, It is recommended to add a
 like toast function that can be displayed in order and, If the content changes, do not line up, but immediately update.

[2018-01-12 12:09] kpmmmurphy commented on #105
This is out of scope right now.

[2018-01-12 12:09] kpmmmurphy commented on #100
Thanks for your feedback @yueyingsk. This has been fixed in version 2.0.3.

[2018-01-12 12:09] #100 closed

[2018-01-12 12:10] kpmmmurphy commented on #99
I've implemented a fix for this in version 2.0.3.

[2018-01-12 12:10] #99 closed

[2018-01-16 06:12] z85510 opened #107 "RTL Support"
How can I make layout to rtl direction ?

[2018-01-23 00:25] jonathansilva opened #109 "The progress bar is not shown and the icon is black"
the version is 2.0.2

`public static void alerter(Integer title, Activity activity) {`
`Alerter.create(activity)`
`.setTitle(title)`
`.setBackgroundColorRes(R.color.colorPrimary)`
`.setDuration(2000)`
`.enableProgress(true)`
`.setProgressColorRes(R.color.colorGreenDark)`
`.show();`
`}`

`Helper.alerter(R.string.response_error, getActivity());`

![sem titulo2](https://user-images.githubusercontent.

[2018-01-23 10:01] bartarapp commented on #82
Unfortunately no, But I've summarized the code more and I've defined it in the Global class and I'm just sending activity and text.

public void myTaost(Activity activity, String desc) {
        Typeface mTypeface = Typeface.createFromAsset(activity.getAssets(), "fonts/yourFont.ttf");

        Alerter.create(activity)
                .setTitle("Alert")
                .setTextTypeface(mTypeface)

[2018-01-24 13:56] TeTRA99 opened #110 "Icons ignoring color in release 2.0.3"
It seems that all icons I was using in the alerter turned white with the latest 2.0.3 release. Did any method/property change? Going back to 2.0.2 put them back in color.

[2018-01-25 16:45] kpmmmurphy commented on #110
Hi @TeTRA99, yes the library tints the icon white by default. To disable it, you can do -

[code]

[2018-01-25 16:45] #110 closed

[2018-01-25 16:56] kpmmmurphy commented on #109
Hi @jonathansilva,

Icon tint has been fixed in version 2.0.3. Now the icon is tinted white by default, and this can be turned off by -

[code]

I cannot replicate the issue you're having with the progress bar - Ensure your colours are correct.

[2018-01-25 16:56] #109 closed

[2018-01-26 11:05] kpmmmurphy commented on #107
Hi @z85510,

I've pushed a fix for this in version 2.0.4. You can set the content gravity to achieve this.

[code]

Do this resolve your issue?

[2018-02-05 15:54] mayuroks opened #114 "How do I set text color of the alert?"
I am getting black as default font color. I want to set it to white. How can I do it?

[2018-02-05 15:57] jkeyes commented on #114
@mayuroks See https://github.com/Tapadoo/Alerter/issues/110#issuecomment-360525750

[2018-02-08 07:58] Annihil opened #115 "How can I underline text?"
Hi,

How can I underline text, it's not possible to use spanned text (html) nor `setPaintFlags` to `Paint.UNDERLINE_TEXT_FLAG`.

Thanks in advance

[2018-02-12 11:52] kpmmmurphy commented on #115
Unfortunately this isn't supported right now.

[2018-02-12 11:52] #115 closed

[2018-02-12 11:56] kpmmmurphy commented on #114
This can be done by creating a new style in your styles.xml, like -

[code]

And then applying it to the Alerter builder -

[code]

[2018-02-12 11:56] #114 closed

[2018-02-22 14:32] adreno3d opened #117 "setIconColorFilter(0) not working, icons always white"
Hi,
I can't get setIconColorFilter(0) to work. All icons and bitmaps are white.

`Alerter.create(MainActivity.this)
                .setTitle("Title")
                .setText("Text")
                .setBackgroundColorRes(R.color.colorPrimaryDark)
                .setIcon(R.drawable.ic_whatshot_red_24dp)
                .setIconColorFilter(0)
                .setDuration(10000)
                .e

[2018-02-24 09:19] z85510 commented on #107
Yes, Thank's.

[2018-03-18 13:02] FlorianWalther opened #118 "Alerter not dismising when using enableSwipeToDismiss together with OnClickListener"
Hey,
when I enable swipeToDismiss and set an OnClickListener, it doesn't dimiss after clicking and just stays there after the duration is over.

[2018-03-21 19:48] TeTRA99 commented on #118
Hi Walther, have you tried adding `Alerter.clearCurrent(getActivity());` inside the OnClickListener? It works for me..

[code]

[2018-04-03 07:35] kassemitani opened #119 "Customize Alerter Height"
I need a possibility to change the default alerter height, example if some application i want it to be same as the action bar height

[2018-04-11 16:12] RamithRD opened #120 "Alerter doesn't react to local changes"
Hi, I've added Alerter library to an app I'm working on which supports 3 languages, when a language is selected, it gets translated on run time. The issue I have is, when a locale change happen, the Alerter pop-up doesn't show up afterwards unless the app is killed and restarted.

Why is this happening? Is this a bug or should I be configuring something when a locale change happen?

[2018-04-13 08:53] #107 closed

[2018-04-13 08:56] kpmmmurphy commented on #120
Hi @RamithRD,

Could you give me a sample of your code please? I'd like to see how you're creating the Alert. I haven't tested this functionality yet myself, but it's likely a library update is needed.

[2018-04-16 13:18] kpmmmurphy commented on #119
Hi @kassemitani,

If you use the Alerter with only text, it will be the same height as the toolbar.

[code]

[2018-04-16 13:18] #119 closed

[2018-04-16 13:51] kpmmmurphy commented on #117
Hi @adreno3d, what version of Android is the device running?

[2018-04-16 15:08] kpmmmurphy commented on #118
I've added a fix for this in version 2.0.5.

https://github.com/Tapadoo/Alerter/pull/121

[2018-04-16 15:08] #118 closed

[2018-04-16 17:21] richardbmx opened #122 "Proposal of logo and icon for the application"
Hello I would like to contribute with a new icon and logo for your application I leave you the proposal if you want to use it I can send you all the files.

![presentacion para github.png](https://steemitimages.com/DQmckxkk7yiq23YFouykBtw2h7yzaWgyFtqkAY4LJdAtJZv/presentacion%20para%20github.png)

[2018-04-16 17:40] adreno3d commented on #117
@kpmmmurphy Hi, it's Android 5.0.1 (API 21).

[2018-04-17 08:28] kpmmmurphy commented on #122
Hi @richardbmx, many thanks for your contribution. I think we'll continue with the original icon for now, but nice work!

[2018-04-17 08:28] #122 closed

[2018-04-19 12:29] pingothedoer opened #123 "Show over all activities."
Is there any way that i could show over everything else going below this alert just like Toast. I know Alerter requires Activity context to show, But if i create an alerter from one activity and switch to next activity, i want the alerter to be shown there as well.

I have tried using some BaseActivity as well. But same result.

[2018-04-19 16:04] kpmmmurphy commented on #123
The way the Alerter works is by attaching a view to the current Activity's DecorView, or Window - each Activity maintains its own DecorView/Window - so the functionality you're looking for isn't supported, and I'm not sure how exactly it would be implemented. I'd love to review a pull request, if you're experimenting with this.

[2018-04-19 16:04] #123 closed

[2018-04-20 22:03] inromualdo opened #124 "Play sound on show"
I just love this library. Can you add a setSound to play notification like sound on show?
Thank.

[2018-04-26 17:47] jraulhernandezi opened #125 "New logo for your project"
Hi, are interested in having a logo for you project? I could send you some ideas if you like.

[2018-05-08 06:47] avrpic8 opened #126 "compile error"
Hi
I have a problem when I want to comple my app.
I get this error:

Error:Execution failed for task ':app:transformClassesWithDexForDebug'.

Error:1 error; aborting
Error:...while parsing com/tapadoo/alerter/Alert.class
Error:unsupported class file version 52.0
Error:PARSE ERROR:

[2018-05-19 00:45] #125 closed

[2018-05-28 10:49] #126 closed

[2018-06-08 19:48] PramUkesh opened #131 "can it be from right to left"
like windows 10 notification pop up and hide from down right side of the screen

[2018-06-13 03:19] zekapp opened #132 "Leakage"
Finishing an activity  causes the leakage.
As mention in source code. Context is holding the reference of activity.

We tried couple of way to solve the issu such as setting null etc. but no solution yet.

"activity" reference is not cleared in clearCurrent(), so even though I was calling Alerter.hide() it was not resolving this issue .Since modifier used is private for many references and method

[2018-06-14 18:11] waseefakhtar commented on #68
I agree with the choice of adding buttons on it. Though I'm aware of adding OnClickListener to make it perform actions, but an addition of the button might make more sense to users. Do you plan on implementing it?

[2018-06-14 19:02] kpmmmurphy commented on #68
I definitely agree it would be an handy feature! I'll prioritize this in the next release. :rocket:

[2018-06-27 09:07] mansya opened #133 "new logo/icon"
Hi, I am a graphic designer, I want to help others in graphic design.

After I reviewed your project, your logo on this project is generic and unatractive. Therefore I want to contribute to this project by creating a new logo / icon. what do you think?

[2018-06-28 09:55] Hoooopa opened #134 "Ask for help"
Hi, This alert is very cute. I love it so much. But I have come to a problem .
How do I set if I don't want alert hide until I click it?

[2018-06-28 10:09] leobrujah commented on #134
Hi @Hoooopa, you can set an infinity duration by calling the method `enableInfinityDuration()` like this
`Alerter.create(this).enableInfiniteDuration(true)`

[2018-06-28 11:30] kpmmmurphy commented on #133
Hi @mansya, absolutely, post a draft here, and we can can review. Many thanks.

[2018-07-01 09:49] mansya commented on #133
I have design a logo for this project. what do you think ? which one do you like it ?
![alerter](https://user-images.githubusercontent.com/33461607/42133125-8f91854e-7d4e-11e8-8cf6-012d535c2fa2.png)

[2018-07-02 09:02] kpmmmurphy commented on #133
Hey @mansya, thanks very much for submitting the logo! While I think what you've created here is good, I don't think it fits the feel of the library.

[2018-07-03 23:30] zekapp commented on #132
this is how we create the alert.

[code]

[2018-07-03 23:36] zekapp commented on #132
Issue solved after creating the alert by
`.enableInfiniteDuration(true)`

[2018-07-04 09:41] kpmmmurphy commented on #132
Thanks for the update @zekapp, I'll mark this one as closed.

[2018-07-04 09:41] #132 closed

[2018-07-07 18:10] mansya commented on #133
I have redesigned. What do you think ? do you like it ?
![alerter](https://user-images.githubusercontent.com/33461607/42413491-a0848156-824b-11e8-936a-fe0512452f84.png)

[2018-07-26 09:01] dhemdhem opened #136 "Change currently showing alerter properties"
Hi! I need to change the properties of currently showing alerter (such as background color) without making a new one. Is it possible for now?

[2018-07-26 11:02] #134 closed

[2018-07-26 14:34] kpmmmurphy commented on #136
This is not possible with the current API, and there are no plans to add this feature.

[2018-07-26 14:34] #136 closed

[2018-07-26 14:37] kpmmmurphy commented on #133
Hi @mansya, thanks for the updated logo. This one is a big improvement on the first. Feel free to create a pull request with the logo included, and add me as a reviewer. Many thanks.

[2018-07-26 14:37] #133 closed

[2018-07-28 06:30] ArigarasuthanRepo opened #138 "App crashed when using the alerter library"
Iam using alerter library for my android app.When i set the alerter in my activity iam getting this error

java.lang.NoClassDefFoundError: Failed resolution of: Lkotlin/jvm/internal/Intrinsics

[2018-08-01 03:35] longer96 commented on #138
+1

[2018-08-01 10:44] mansya commented on #133
I have replace the old icon with new icon. but for the banner on the display page I have not changed it. and I've designed it. you can change it yourself

for all files I have uploaded into this link.
https://drive.google.com/open?id=1BmNGA61vAKHYOCGYFW1LJPd8Jd0fqEy-

And I have sent you pull requests. please check it.

[2018-08-01 19:26] kpmmmurphy commented on #138
Hi @ArigarasuthanRepo,

Thanks for flagging this issue. Please revert to version 2.0.6 of the library for now, there seems to be an issue with Jetpack & AndroidX dependencies. Investigating now.

[2018-08-02 04:30] ArigarasuthanRepo commented on #138
Ok thank you.

[2018-08-02 08:31] leobrujah commented on #138
@kpmmmurphy I'd say because the project is now on Kotlin, you have to add kotlin dependency in your project in order to work, the same with `constraintlayout` seems like it doesn't solve the dependency from the library and you have to add it in your project as well. You can reproduce the error by creating an empty java project and add Alerter as the only dependency, it won't work unless you add ko

[2018-08-02 09:05] kpmmmurphy commented on #138
You're right, good catch @leobrujah, compatibility with Jetpack & AndroidX appears to be a separate issue. I will add some documentation with the requirements for integrating version 3.0.0 of the library.

[2018-08-13 09:38] waseefakhtar commented on #68
I was wondering if this has been worked on in the new release.

[2018-08-13 12:14] kpmmmurphy commented on #68
Hi @waseefakhtar, this feature is available in versionj 3.0.0, but currently requires Kotlin, and Constraint Layout as a dependency.

[2018-08-14 05:31] mecoFarid opened #140 "Setting hideIcon() or showIcon(false) has no effect"
I have tried to hide icon by using two methods `hideIcon()` or `showIcon(false)`, but none took effect. Icon is still visible.

[2018-08-14 05:33] mecoFarid opened #141 "Static Alerter icon option"
Would be nice to have a static icon option, without zoom-in/out animation.

[2018-08-14 05:39] mecoFarid commented on #141
Setting `enableIconPulse(false)` removes icon (makes IVISIBLE not GONE)

[2018-08-14 05:42] mecoFarid opened #142 "Broken functionality on three methods"
1) I have set `enableIconPulse(false)` to stop icon pulsing, library removed the icon altogether (worst part, made it INVISIBLE not GONE).

2) showIcon(false) or `hideIcon()` won't hide icon. Even used both at the same time

[2018-08-17 03:12] oHoangVanTuan commented on #140
You can try using method `.enableIconPulse(false)`

[2018-08-17 03:30] o0o0oo00 opened #143 "when dialog is showing how to make Alerter on the top, i want Alerter just like Toast that it will on top of dialog"
when dialog is showing how to make Alerter on the top,
i want Alerter just like Toast that it will  on top of dialog

[2018-08-17 13:22] usmaan-anwar opened #144 "How to customise the Buttons in Alerter?"
I am looking for a way to change the color of the buttons in "Alerter with Buttons" because I am using accent color for the background and the button are using the accent color by default so it becomes difficult to distinguish buttons in the Alerter.

Thanks in advance.

[2018-08-17 14:12] usmaan-anwar commented on #144
The issue is solved, I added the following code in my `styles.xml` file:

[code]

Then added the Alerter as follows:

[code]

[2018-08-24 08:39] #143 closed

[2018-08-24 08:40] o0o0oo00 commented on #143
i solve it by add view into dialog's decorview

[2018-08-24 10:30] mecoFarid commented on #140
That removes the icon totally

[2018-08-24 10:32] mecoFarid commented on #140
It is not intended use, I believe. Also, setting it to `false` leaves the icon `INVISIBLE` not `GONE`, I mean there is still space before the title and body of `Alerter`.

[2018-09-02 17:46] moda20 commented on #138
This is still not resolved I guess, I am having problems with the `contraintlayout`being not found.
`layout_constraintBottom_toBottomOf) not found.`

[2018-09-02 19:01] moda20 opened #145 "android.view.InflateException, when using alerter 2.0.4"
hey I jus tried your library alerter with the version 2.0.4 and got into this issue :
[code]
I couldn't find anyway of fixing it.
I must note that I was using the 3.0.0 version which had problems with not finding some classes.

[2018-09-13 15:59] playscforever commented on #138
+10000

[2018-09-13 16:05] kpmmmurphy commented on #138
As a temporary workaround, add this to your dependencies in your build.gradle:

`implementation 'com.android.support.constraint:constraint-layout:1.1.2'`

[2018-09-17 07:31] RamithRD opened #146 "Alerter layout issues on v3.0.0 (Android 6.0+)"
I upgraded from version 2.0.4 to 3.0.0 and experiencing layout issues in the Alerter message layout, such as missing icon, missing title text and text alignment issues; refer the screenshot below:

![screenshot_20180917-125109](https://user-images.githubusercontent.com/11192671/45610318-2c30b980-ba79-11e8-8cbc-28ac47dc817c.jpg)

Code:

[code]

The alert message worked perfectly on version v2.0.4 f

[2018-09-18 11:01] waseefakhtar commented on #138
Is the documentation for integrating version 3.0.0 available yet? I've updated my library from 2.0.5 and receiving this error while adding it into a Java project. How do we make sure it runs with Java?

[2018-09-18 12:00] waseefakhtar commented on #138
For those who're struggling, I got this working by using Tools > Kotlin > Configure Kotlin in Project. If you don't have the option, you can manually configure it by:

1. Adding the following to the project build.gradle:

[code]

2. Adding the following to the module build.gradle:

[code]

[2018-09-24 09:54] huazhouwang opened #147 "Error in compile"
I just add depend on it then compile, error is showing below, thanks
[code]

[2018-09-24 22:34] waleefalrooh opened #148 "the texts doesn't show up"
I tried this library and the texts doesn't show up and i don't know why?

[2018-09-25 15:42] mohkharma commented on #147
Same error with me, any ideas please.

[2018-09-25 21:48] moda20 commented on #147
the 3.0.0 version has this error, it is best if you downgrade to version 2.0.6 / 2.0.4

[2018-09-25 22:00] moda20 commented on #145
I fixed this issue by changing in the `alerter_alert_view.xml` the attribute `android:foreground`
from `?attr/selectableItemBackground`
to `?android:attr/selectableItemBackground`

Can you fix it in your repository because that is just a workaround ?

[2018-09-30 09:52] MagicKim opened #150 "View,Can support the slide up to disappear?"
i want to support this funcation, how to amend? O(∩_∩)O thanks

[2018-10-01 07:37] #150 closed

[2018-10-01 10:04] #144 closed

[2018-10-01 10:55] #140 closed

[2018-10-01 11:27] kpmmmurphy commented on #142
I've added fixes for this issues in version 3.0.1

[2018-10-01 11:27] #142 closed

[2018-10-01 11:29] kpmmmurphy commented on #138
Sorry for the delay on this! I've updated the README to notify devs that Kotlin is required, and I've removed the ConstraintLayout dependency.

[2018-10-01 11:29] #138 closed

[2018-10-01 11:30] kpmmmurphy commented on #141
I've added a fix for this. Calling `enableIconPulse()`  will stop the icon pulsing now.

[2018-10-01 11:30] #141 closed

[2018-10-01 13:52] mohkharma commented on #147
your effort is much appreciated! Thanks

[2018-10-02 04:13] Nancyls opened #152 "Didn't find class "kotlin.jvm.internal.Intrinsics" on path: DexPathList[[zip file"
Didn't find class "kotlin.jvm.internal.Intrinsics" on path: DexPathList[[zip file ....

java.lang.NoClassDefFoundError: Failed resolution of: Lkotlin/jvm/internal/Intrinsics;...

AS3.1,tool3.1.4

solvetion:
implementation 'com.tapadoo.android:alerter:3.0.1'
implementation 'com.mapzen:on-the-road:1.3.1'

[2018-10-09 03:15] bernaferrari opened #153 "vertical center title"
It is not beautiful:
![screenshot_20181008-231946_change detection](https://user-images.githubusercontent.com/351125/46644787-31ed5c80-cb58-11e8-9e8a-9b2c89883b23.jpg)

[2018-10-13 08:03] p4r460n commented on #152
Same issue with me.

[2018-10-13 08:10] p4r460n commented on #152
Maybe it needs Kotlin configured in project.

[2018-10-13 08:17] Nancyls commented on #152
sorry ,i do not konw ,but my app is running now

[2018-10-13 08:17] #152 closed

[2018-10-17 22:02] KonradSzewczuk opened #154 "Customize title and contet text color"

[2018-10-17 22:03] #154 closed

[2018-10-17 23:21] KonradSzewczuk opened #155 "Possibility to set icon size"
Is it possible to specify  icon size? It will be good enhancement to apply

[2018-11-06 11:44] webnizam opened #159 "View shows behind DialogFragment"
I was trying to implement this in my app from a DialogFragment.

The view is showing, but the problem is it's behind the DialogFragment, hence it's not visible to see from dialog screen.

Any Solution ?

[2018-11-08 17:11] mateuszkwiecinski opened #160 "Wrong nullability of Alerter.create"
Hi!
It looks like an error has been made in definition of  `Alerter.create` function. It suggest it is possible to pass a null to `fun create(activity: Activity?): Alerter` but if you do it you'll get runtime exception.
Was it made on purpose? I suppose you could think of java interoperability, but I think just `@Nullable` anotation that is be added to non-nullable kotlin types should be enough fo

[2018-11-15 15:53] bernaferrari opened #161 "Update to AndroidX"
I recommend updating newer versions to AndroidX. It currently works perfectly with jetfier, so no hurry.

[2018-11-15 20:49] kpmmmurphy commented on #161
Hey @bernaferrari, I'll see if I can get this in at some point in the future. Do feel free to implement it and add me as a reviewer on the pull request if you do :D

[2018-11-15 20:49] #161 closed

[2018-11-15 21:04] kpmmmurphy commented on #159
Hey @webnizam,

There's no supported solution to this right now unfortunately. I believe DialogFragments share the same window as the enclosing Activity, which the Alerter is added to. One possibility is changing the translationZ of the Alert view to force it above everything else, but I'm not certain if that would solve your issue!

[2018-11-16 12:06] kpmmmurphy commented on #153
A fix has beed added in version 3.0.2 for this :D

[2018-11-16 12:06] #153 closed

[2018-11-21 10:45] nabil6391 opened #163 "Support Alerter to show in the middle or from bottom"
Hi, I love your library... it has the potential to replace traditional popups and dialogs. I would like to use Alerter in all places ... its so easy to use and has all necessary functions.

Can you please see if you can support alerter to be viewable in the center like a popup or from the bottom like a snackbar

[2018-11-21 20:56] hamrashees opened #164 "Alerter text cutting off in new android 9.0 notch"
#<img width="275" alt="screen shot 2018-11-21 at 3 52 15 pm" src="https://user-images.githubusercontent.com/31973995/48867903-c24ccd00-eda5-11e8-96d0-08f367461e58.png">

After updating my android to Android 9 and having a notch enabled, I encountered this issue in alerter. The text cuts off because of the notch. Is there any fix we can have to support this?

[2018-12-05 15:00] kpmmmurphy commented on #164
I've added a fix for this in version 4.0.0

[2018-12-05 15:00] #164 closed

[2018-12-23 20:27] HJaliliani opened #166 "Alert doesn't show on Android 4.4 , and for 4.1 just show for fraction of seconds and hide fast!!"
It working on Android 5+ but on 4.1 ... 4.4 it won't show Alert?

I using Androidx and enabled:
android.useAndroidX=true
android.enableJetifier=true
in gradle.properties.
Library Version 4.0.0,
and Kotlin.

I'll  appreciate any help

[2018-12-29 01:20] bernaferrari opened #167 "hide method is private"
I just updated to v4 and hide method is now private, how am I supposed to use it?
(kind of similar: https://github.com/Tapadoo/Alerter/issues/34)

[2019-01-07 19:49] kpmmmurphy commented on #167
Hi @bernaferrari, apologies for the delay in response. Are you using Kotlin, or Java? The Alerter can be dismissed by calling the static `hide()` method like this:

[code]

Does this solve your issue?

[2019-01-08 04:06] bernaferrari commented on #167
Thanks!! Yes, I didn't see it.

[2019-01-08 04:06] #167 closed

[2019-01-08 07:54] lll-01 opened #168 "ClassCastException: android.support.constraint.ConstraintLayout$LayoutParams cannot be cast to android.widget.LinearLayout$LayoutParams"
.ClassCastException: android.support.constraint.ConstraintLayout$LayoutParams cannot be cast to android.widget.LinearLayout$LayoutParams
        at android.app.ActivityThread.handleReceiver(ActivityThread.java:3390)
        at android.app.ActivityThread.-wrap17(Unknown Source:0)
        at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1812)
        at android.os.Handler.dispatchMe

[2019-01-18 00:46] TowardInfinity opened #169 "new version app crashing."
I am building an **Android** project, was implementing Alerter 4.0.0 as it supports **Notch** as well.
`    implementation 'com.tapadoo.android:alerter:4.0.0'
`
and wrote very basic Alert and my app started crashing.

`
![image](https://user-images.githubusercontent.com/34218629/51358146-0f1ffc00-1ae8-11e9-8909-7c777aff1c68.png)

`
i think there is a bug in the latest version.

[2019-01-18 09:13] kpmmmurphy commented on #169
Hey @TowardInfinity, thanks for flagging this. I'll investigate. What device, and version of Android are you using?

[2019-01-18 09:48] TowardInfinity commented on #169
No, i am not using AndroidX.

[2019-01-18 09:54] kpmmmurphy commented on #169
Version 4.0.0 uses AndroidX, so this is a requirement.

[2019-01-18 10:15] TowardInfinity commented on #169
I added,
[code]
these to my gradle.properties.
Build finished but when i try to run on my device, compilation failed.

[2019-01-18 10:33] TowardInfinity commented on #169
It is working as i migrated my app to AndroidX. Hope to see the update soon for Android.

[2019-01-18 10:33] #169 closed

[2019-01-30 17:18] MahdiPishguy opened #170 "Android resource linking failed"
After adding this library and adding

[code]

to `gradle.properties` file i get this error:

i dont use androidX in project but i like to use this library into my project

[code]

[2019-01-30 17:23] kpmmmurphy commented on #170
Try moving back to version 3.0.0.

[2019-01-30 19:15] MahdiPishguy commented on #170
@kpmmmurphy Thanks, how can i download this version of your library? my mean is 3.0.0

[2019-01-30 20:58] #170 closed

[2019-01-30 20:59] MahdiPishguy opened #171 "Disable auto hide"
is any feature to disable auto hide after approach to duration?

[2019-01-30 21:15] kpmmmurphy commented on #171
See - https://github.com/Tapadoo/Alerter/blob/master/alerter/src/main/java/com/tapadoo/alerter/Alerter.kt#L362

[2019-01-30 21:15] #171 closed

[2019-02-11 06:42] cr05s19xx commented on #138
Can you please make it clearer? It is very easy to skip over in the README

[2019-02-15 13:21] tejasna opened #172 "NoSuchFieldError"
Hello, I'm trying to integrate it to my project and facing an issue.

 I'm using the folowing -

**koltin version**
`classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:1.3.21"`
`implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk7:1.3.21`
**AndroidX** - i've added the following to my gradle.properties
android.useAndroidX=true
android.enableJetifier=true

This error is seen when I call the lib

[2019-02-24 14:28] danieldesouzadev opened #173 "Version 4.0.0 - Error"
Switching to version 3.0.1 works normally

        at java.lang.reflect.Method.invoke(Native Method)
        at android.support.v7.app.AppCompatViewInflater$DeclaredOnClickListener.onClick(AppCompatViewInflater.java:384)
        at android.view.View.performClick(View.java:6897) 
        at android.widget.TextView.performClick(TextView.java:12693) 
        at android.view.View$PerformClick.run(View

[2019-02-27 02:01] traeumen927 opened #174 "The function works normally, but an error message is output."
Hello

I use Alerter well.

However, after the Alerter is shown, the following error message is printed on the console.

[code]

Fortunately, the program does not stop or terminate, but I'm afraid it's a problem.

When using alerter version 4.0.0, I am using 3.0.1 because of an error.

Thank you.

[2019-02-28 17:02] kpmmmurphy commented on #174
Thanks for logging this, I've removed this print log in version 4.0.1.

[2019-02-28 17:02] #174 closed

[2019-02-28 17:04] kpmmmurphy commented on #173
Hi @danieldesouzadev, I've added a fix for this in version 4.0.1. I believe this was caused by the user of `LinearLayoutCompat`, which I have removed. Please test and let me know if it has been resolved!

[2019-02-28 17:05] kpmmmurphy commented on #168
Hi @lll-01, I've added a check to prevent this casting exception in version 4.0.1

[2019-02-28 17:05] #168 closed

[2019-02-28 17:06] kpmmmurphy commented on #166
Hey @HJaliliani, I've tried to replicate this but no luck. Do you have any more detail? How are you invoking the library?

[2019-02-28 17:06] #159 closed

[2019-02-28 17:07] #68 closed

[2019-03-06 20:56] TylerMcCraw opened #177 "Alerter.setTitle(title: String) should accept a CharSequence instead to support SpannableStrings"
Currently, the `setTitle()` functions on Alerter and Alert classes accept a String as a parameter.
However, this prohibits being able to use SpannableStrings for the TextViews that are shown.

We should change these functions to accept a CharSequence type parameter instead of a String so that developers can pass in instances of SpannableStrings (which opens up a lot of styling possibilities).
(FYI

[2019-03-06 21:14] TylerMcCraw commented on #177
The same goes for the `setText()` function

[2019-03-06 22:23] #177 closed

[2019-03-07 11:01] taimur44 opened #179 "setDismissable in not working"
Hi,

The Alerter is so good. Love this library.
Thank you for providing this library

I do not want to dismiss the alert until the user will not cancel it. So i used **setDismissable** function. But it's not working. Please check the below code

`      Alerter.create(this)
                .setTitle("Delete")
                .setText("Are you sure you want to delete?")
                .setTitleAppe

[2019-03-07 12:47] kpmmmurphy commented on #179
Hey @taimur44,

Try removing ` .enableSwipeToDismiss()`, and adding `enableInfiniteDuration(true)` - which might help you achieve the desired effect.

[2019-03-07 13:01] taimur44 commented on #179
Hey @kpmmmurphy
It works
thank you so much for your reply on time.

I have a suggestion for you.
I think you should mention all the proprieties of the library in a readme file so that everyone see What Alerter can do.

[2019-03-07 13:34] kpmmmurphy commented on #179
@taimur44 Glad it helped! I'll look into improving the readme 😅

[2019-03-07 13:34] #179 closed

[2019-03-20 08:52] kpradeepkumarreddy opened #180 "does Alerter have option to generate sound when message is displayed ?"

[2019-03-20 08:53] kpradeepkumarreddy commented on #180
Does Alerter have option to generate sound when message is displayed ?

[2019-03-20 10:36] kpmmmurphy commented on #180
Hi @kpradeepkumarreddy, unfortunately this feature is not implemented right now. I'd be happy to review a pull request with it included.

[2019-03-20 10:36] #173 closed

[2019-03-20 13:27] kpradeepkumarreddy opened #181 "How to show Alerter message at the bottom of the screen ?"
How to show Alerter message at the bottom of the screen ?

[2019-03-20 13:49] kpradeepkumarreddy opened #182 "How can i change the background color of Alerter message ?"
How can i change the background color of Alerter message ?
How can i change the icon color in Alerter message ?
How can i change the alert title color in Alerter message ?

[2019-03-20 15:46] kpradeepkumarreddy commented on #180
I want to implement this feature for this library. Give me some ideas about how to implement this feature.

[2019-03-22 10:10] taimur44 opened #183 "Change icon size"
How to change icon size.
I am using SVG icon and i have changed icon size in XML but it does not effect. Is there any way to increase the size?

[2019-03-22 10:37] kpmmmurphy commented on #183
Hi @taimur44, unfortunately this isn't supported right now. The icon has a static size.

[2019-03-22 10:38] kpmmmurphy commented on #181
Hey @kpradeepkumarreddy, this isn't supported right now - the Alert only appears from the top. I'd suggest using a SnackBar in the meantime.

https://material.io/design/components/snackbars.html

[2019-03-22 10:39] kpmmmurphy commented on #182
Hi @kpradeepkumarreddy, please review the documentation

https://github.com/Tapadoo/Alerter#customisation

[2019-03-22 10:39] #182 closed

[2019-03-23 12:57] hsnmrd opened #184 "how can i change button typeface ?"

[2019-03-23 13:01] hsnmrd commented on #184
it's possible to change title and text typeface
but i didn't find any function to change typeface of button's text

[2019-03-25 12:27] omegasoft7 opened #185 "Error when I create alerter with Activity"
2019-03-25 13:23:12.296 5463-5649/joy.mobility E/TypefaceCompatApi21Impl: java.lang.NoSuchMethodException
    java.lang.NoSuchMethodException: addFontWeightStyle [class java.lang.String, int, boolean]
        at java.lang.Class.getMethod(Class.java:2068)
        at java.lang.Class.getMethod(Class.java:1690)
        at androidx.core.graphics.TypefaceCompatApi21Impl.<clinit>(TypefaceCompatApi21Impl.

[2019-03-26 01:41] iago-silva opened #186 "Can i remove StatusBar spacing?"
I'm don't keeping StatusBar visible, so i would like remove its spacing

![55539213_2196456480616114_3145609896989294592_n](https://user-images.githubusercontent.com/31210460/54965310-c56fe980-4f4e-11e9-98ad-7d6271f7ca6e.png)

[2019-03-26 09:01] kpmmmurphy commented on #186
Hey @iago-silva, there is no support for removing the status bar spacing at the moment. Feel free to fork the library and add this feature, and I'll happily review your PR. Many thanks.

[2019-03-27 04:09] iago-silva commented on #186
Just override `alerter_alert_view_padding_top` dimen solved my problem 😄

[2019-03-29 04:32] newbie029 opened #189 "Sticky Notification"
Can you make a Sticky Notification please?
I need it with button.

[2019-03-29 05:46] #189 closed

[2019-04-03 15:25] waseefakhtar opened #190 "Alerter shows blank text in RTL languages"
I use version 3.0.0 and here's how I create my alerter:

[code]

which works well for LTR languages but not RTL. Is there are workaround for this?

[2019-04-03 18:03] kpmmmurphy commented on #190
Please update to the latest version, and try using `setContentGravity(Gravity.End)`

https://github.com/Tapadoo/Alerter/blob/01ac0d03495d3d67223db5bd4be744a0e426f958/alerter/src/main/java/com/tapadoo/alerter/Alerter.kt#L120

[2019-04-03 18:03] #190 closed

[2019-04-15 15:06] dthib opened #192 "Alert without duration"
Hi,

I would like to have an alert without any duration: the user is forced to click on it to close it. I did not find a way to do it. Is that feasible using your library?

thanks for your help and great work for this library,
Best,
Thibaut

[2019-04-15 15:18] kpmmmurphy commented on #192
Hey @dthib!

I think this method should do the trick -

https://github.com/Tapadoo/Alerter/blob/master/alerter/src/main/java/com/tapadoo/alerter/Alerter.kt#L362

So you'd have something like -

[code]

[2019-04-15 20:08] dthib commented on #192
Great, thanks a lot. I did not search enough.
Best

Le lun. 15 avr. 2019 à 17:18, Kevin Murphy <notifications@github.com> a
écrit :

[2019-04-25 09:20] blackberry2016 opened #193 "How to hide only one alert?"
How to hide only one alert?

[2019-04-25 10:38] kpmmmurphy commented on #193
You can call -

[code]

[2019-04-25 10:38] #193 closed

[2019-05-08 07:08] ihewro commented on #76
I think altering text while it showing is a necessary inteface especially when using `progress type Alerter `

[2019-05-28 09:19] zzxjl1 commented on #173
version 4.0.2 still has this problem

[2019-05-28 09:21] zzxjl1 commented on #173
Caused by: java.lang.ClassNotFoundException: Didn't find class "kotlin.jvm.internal.Intrinsics" on path: DexPathList[[zip file "/system/framework/org.apache.http.legacy.boot.jar", zip file "/data/app/com.idealbroker.app-gNYTCDif1pNFuq8zCw0KLg==/base.apk", zip file "/data/app/com.idealbroker.app-gNYTCDif1pNFuq8zCw0KLg==/split_lib_dependencies_apk.apk", zip file "/data/app/com.idealbroker.app-gNYTCD

[2019-06-01 11:11] samuk190 opened #194 "Last alert come before the first alert."
Can please someone explain why this alert doesnt work like NotificationsBanner swift?
I mean, if I use two alerts it will not wait the last one dismiss, how I can handle that

[2019-06-01 12:04] samuk190 commented on #194
How can I make it wait for next alert instead of automatically dimissing it?

[2019-06-04 04:54] CollinsWalker opened #195 "Are there any AndroidX versions that aren't available?"
Are there any AndroidX versions that aren't available?

[2019-06-04 09:16] kpmmmurphy commented on #194
Hi @samuk190,

Unfortunately, this is an implementation choice to ensure only one view is added to the layout hierarchy at a time. You could add some logic to show the following Alert once the current is dismissed.

https://github.com/Tapadoo/Alerter/blob/master/alerter/src/main/java/com/tapadoo/alerter/Alerter.kt#L386

[2019-06-04 09:17] kpmmmurphy commented on #195
Hey @CollinsWalker, I'm not sure I understand your question?

[2019-06-04 09:17] #192 closed

[2019-07-11 11:02] prafulnayak opened #196 "How To Set both Icon and Text to Center Horizontally ?"
.setContentGravity(Gravity.) is for only text ?
What if I want to set both Icon and Text to the center horizontally.

[2019-07-11 11:09] kpmmmurphy commented on #196
Hey @prafulnayak, unfortunately this isn't supported right now. I'd be happy to review a pull request from you with this feature implemented if you have the time. Cheers.

[2019-07-29 10:29] nithinkolekar commented on #61
is that mean we can show Alerter one after another?

[2019-09-17 13:35] prathamesh22davande commented on #138
thanks for solution Waseefakhtar

[2019-09-26 15:56] #124 closed

[2019-10-01 08:34] Silvia4 opened #200 "Last version without AndroidX?"
Can you please tell me which is the latest version without AndroidX? I can't use it in my project. Thanks

[2019-10-01 10:19] kpmmmurphy commented on #200
Hi @Silvia4, according to the changelog, AndroidX was introduced in version 4.0.0, so the previous version to that was 3.0.2.

https://github.com/Tapadoo/Alerter/blob/master/CHANGELOG.md#302---15112018

[2019-10-01 10:19] #200 closed

[2019-10-15 00:12] pratik333 opened #206 "Can u please help"
How can i display user customized alerts?

[2019-10-15 10:37] kpmmmurphy commented on #206
Hey @pratik333, this can be done with version 5.0.0 of the library.

See: https://github.com/Tapadoo/Alerter#with-custom-layout

[2019-10-15 10:37] #206 closed

[2019-10-17 06:55] kinghom opened #207 "how can i set callback when i set enableProgress()"
i want to do something when progress is finish or progress is begin/loading

[2019-10-17 06:59] #207 closed

[2019-10-17 07:53] abhishek8506 opened #208 "how to create custom layout in java"
it doest not work in koltin or java .any one help  me .

[2019-10-18 10:08] abhishek8506 commented on #208
when i download project run it it work in custom layout in koltin and java as well , but when i used it in kotlin or java in own project by add library it does not work

[2019-10-19 15:35] kpmmmurphy commented on #208
Hi @abhishek8506, custom layouts feature is present in version 5.0.0. Which version are you currently using? Could you please add some sample code so we can debug this further. Many thanks.

[2019-10-21 06:49] abhishek8506 commented on #208
thanks for reply ,by changing version 5.0.0 it work , i have more question ,there is only one way to close alert is Aleter.hide(. fade animation occur in it) or any?.. But when we use custom layout ,we have option to  animate(own animation ) a process of closing alert by custom btn , i  think that should be add or if it is already in library then tell me what code is that. ,,overall library was gr

[2019-10-21 06:56] abhishek8506 commented on #208
here i wanted click in two view in custom layout ,,but  when i want to  implement it show error
 code here.....
Alerter.create(this,R.layout.customalert).setBackgroundColorRes(android.R.color.transparent).enableVibration(true).enableSound(true).setDuration(50000).show()
                .getLayoutContainer().findViewById(R.id.constraintLayout8).setOnClickListener(new View.OnClickListener() {

[2019-10-21 10:50] kpmmmurphy commented on #208
Hi @abhishek8506, I apologise but I don't understand your question.

[2019-10-22 04:32] #208 closed

[2019-11-05 13:53] jaydeep2158 opened #209 "How to display alert above dialog?"

[2019-11-06 09:46] kpmmmurphy commented on #209
Hey @jaydeep2158, unfortunately this isn't supported. You'll either need to show the alert before, or after dismissing the dialog.

[2019-11-06 09:46] #209 closed

[2019-12-18 08:08] abhishektiwarijr commented on #209
We can achieve that by doing so
Step 1: Paste this method code in Alerter.kt class

fun show(dialogDecorView: ViewGroup?) {
        activityWeakReference?.get()?.let {
            it.runOnUiThread {
                //Add the new Alert to the View Hierarchy
                dialogDecorView?.addView(alert)
            }
        }
    }

Step 2: Now use the above show method as following code.

fun St

[2020-01-22 03:42] pankajtalaviya97 opened #211 "Alerter.isShowing() is not found"
not found and check with isshowing alert

error: cannot find symbol method isShowing()
error: cannot find symbol method hide()

help me
thanks in advance...

[2020-01-22 09:14] kpmmmurphy commented on #211
Hey @pankajtalaviya97, which version of the library are you using? And could you please post a code snippet below of how you're invoking these static methods, many thanks.

[2020-01-25 14:40] kldMohammed commented on #163
i also need this feature to be added

[2020-01-27 04:49] rezaiyan commented on #163
I'll do this

[2020-01-28 07:40] rezaiyan commented on #181
@kpradeepkumarreddy merge request sent #212

[2020-01-28 07:44] rezaiyan commented on #195
@CollinsWalker Alerter has used `androidx`

[2020-01-29 09:11] #163 closed

[2020-01-29 09:58] kldMohammed commented on #163
do you update version ? cause i can not found it

i took version number 5.1.0 from your commit

[2020-01-29 10:02] kpmmmurphy commented on #163
Apologies, just merged into Master. A new build should be ready in the next 30 minutes.

[2020-02-05 06:43] venkyvc opened #215 "Alerter failes to load"
hey there..!!

I implemented the alerter library into my project with version as 5.1.1 but when application runs it fails to load the alerter and force closes the app. wants to know how can i enable it properly.
I'm using androidx  in my project

[2020-02-05 08:43] rezaiyan commented on #215
Could you explain more and share some evidence

[2020-02-05 08:51] venkyvc commented on #215
I Implemented the alerter library into my project with the version number as 5.1.1 and when the application runs and executes the method of showing alerter. Application crashes and throws error as below.

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.coderedinnovations.allioservices, PID: 14409
    java.lang.NoClassDefFoundError: Failed resolution of: [Lkotlin/reflect/KProperty;

[2020-02-05 14:10] kpmmmurphy commented on #215
Hey @venkyvc, are you using Kotlin in your project? Please try reverting to version 2.0.6 of the library.

[2020-02-05 14:12] venkyvc commented on #215
Yah that's what I did thanks for the library by the way it saved my day.

[2020-02-05 14:12] #215 closed

[2020-02-14 12:27] pankajtalaviya97 commented on #211
5.1.1 version used

[2020-02-18 16:58] pankajtalaviya97 commented on #211
implementation 'com.tapadoo.android:alerter:**1.0.6**'
this lib version are used in my project

[2020-02-18 17:25] kpmmmurphy commented on #211
Please use the latest version of the library

[code]

[2020-02-18 19:06] #211 closed

[2020-02-28 03:49] zgao67 opened #217 "Custom layout in java, can't find multiple buttons in the layout"
Trying to use custom layout in java
In this layout, I have 3 buttons - button 1, button 2, button3
When I click each button, it'd trigger different functions
Version is 5.0.0
I used .getLayoutContainer().findViewById(R.id.button1).setOnClickListener(new View.OnClickListener() {
....., it worked for button1.
But i can't do another .getLayoutContainer to find button2 or 3.
Can you help me out?
Also

[2020-03-10 07:07] AvatarQing commented on #167
` Alerter.hide()` will remove all alert views in current acitivty, but I want to remove current alert view only, it seems not supported yet

[2020-03-12 17:00] ardyfeb opened #218 "Failed to resolve com.tapadoo.android.alerter:5.1.2"

[2020-03-31 12:32] GauravRana commented on #186
Hi @iago-silva how to removing spacing that without importing library?

[2020-04-05 07:59] iago-silva commented on #186
Without importing library? What do you mean?

[2020-04-24 09:51] fjkc opened #219 "Alert executes blocking in instrumented test"
I am currently working on automating my tests by using instrumented tests with Espresso. In some test cases I want to verify the title/text of an alert, but there seems to be an issue with the alert. It blocks my code and therefore also my assertion from running as long as the alert is showing. The assertion runs just after the alert hides again. In my project, I am testing 2 different Fragments,

[2020-05-10 13:56] kperreau opened #221 "Image/Photo option in addition to icon"
This is a suggestion, who would be really appreciated for me.
It would be great if we can pass another param instead of icon, like image with image path, if we prefer image in some case.
I have a notification for new comment in my application, and it would be great if a rounded profil image (jpg) of user can be shown.

Thx.

[2020-05-10 14:00] kpmmmurphy commented on #221
Hey @kperreau, you could accomplish this with the current custom view API.

https://github.com/Tapadoo/Alerter#with-custom-layout

[2020-05-19 08:36] ankitinception opened #222 "Text Size"
How can I change text size ??

[2020-05-22 20:07] jaredtaskin opened #223 "Delay/No animation"
When I attempt to show an alert with the below code, I notice there is a long delay (4-5 seconds) after I see the log output, then the alert suddenly appears, without animation. When I swipe the alert, however, it animates off the screen like I expect. What am I doing wrong? Thanks!

[code]

[2020-05-24 08:53] kpmmmurphy commented on #223
Hey @jaredtaskin, sounds like you're blocking the main thread somewhere. Just from the snippet above, it looks alright - so it must be somewhere else in your app.

[2020-05-24 08:53] #223 closed

[2020-06-02 19:48] rezaiyan opened #224 "@rezaiyan I have an issue when showing the alerter at the bottom. Looks like alert is moved to the left."
@rezaiyan I have an issue when showing the alerter at the bottom. Looks like alert is moved to the left.
Any idea what the problem is? I suppose it has something to do with the padding you set when not using Gravity.TOP

![grafik](https://user-images.githubusercontent.com/3040570/83442725-ee401880-a448-11ea-90ee-d943393fd2c6.png)

_Originally posted by @dosomder in https://github.com/Tapadoo/Alert

[2020-06-17 19:08] nathan-fiscaletti opened #226 "Disable onClick animation?"
Is there a way to disable the click animation when tapping on the notification but still support the onClick handler?

![Preview](https://github.com/Tapadoo/Alerter/raw/master/documentation/alert_on_click.gif)

[2020-06-18 08:14] kpmmmurphy commented on #226
Hey @nathan-fiscaletti, there's no API for this, but you may be able to nullify the foreground drawable on the AlertView, which I believe is handling this animation.

[2020-06-18 14:14] nathan-fiscaletti commented on #226
Can you share some code on how one might do this?

[2020-06-18 23:38] DimitrisRK commented on #209
Any progress on this one?

[2020-06-21 10:13] nikothegreek opened #227 "Demo app in README not available"

[2020-06-22 18:53] dosomder opened #228 "Set color / fontsize dynamically"
In previous version it was possible to access the text / title directly by `getTitle()` and `getText()`. You could then call for example `setTextSize()` or `setTextColor()` directly.

Now this is not possible anymore and you can only change the appearance by using a style resource with `setTextAppearance()`. However, I need to set the color dynamically. @kpmmmurphy would you accept a PR to add the

[2020-06-25 15:27] dosomder commented on #228
@kpmmmurphy Anything against a PR?

[2020-06-25 15:32] kpmmmurphy commented on #228
Hey @dosomder, PRs always welcome!

[2020-06-25 17:14] uf8dx2 opened #229 "Custom sound notification"
Your library is awesome!
The only thing I miss very hard is a custom sound. Could you add this functionality?

[2020-06-26 13:48] ranger163 opened #231 "Dismiss alert while clicking on buttons"
When clicking on "NO" button or "Okay" Alerter doesn't dismiss, instead it waits till time ends and dismiss automatically.
How can I achieve dismiss behavior on demand not only waiting for the duration to end ?

Thanks in advance.

[2020-06-26 13:58] ranger163 commented on #231
I found a solution to do so, I used `Alerter.hide()` and it works fine with me.
Sorry for bothering 😄

[2020-06-26 13:58] #231 closed

[2020-06-26 18:46] bellalMohamed commented on #228
Hello, @dosomder

I there any intention to make a PR anytime soon to add these getters back?

[2020-06-26 18:47] dosomder commented on #228
@bellalMohamed yes I plan to do a PR in the coming week. Are you interested in this feature as well?

[2020-06-26 18:51] bellalMohamed commented on #228
@dosomder I see you already replied to the issue on NativeScript feedback plugin which is a wrapper around this plugin 😅😅

[2020-06-27 13:32] #228 closed

[2020-07-04 19:22] #194 closed

[2020-07-08 14:12] aiavci opened #233 "Feature suggestion: Ability to stack multiple notifications"
**Description**
Currently, when a new notification is received, the previous non-dismissed notification gets overwritten, expecially when `dismissable = false`.

It would be great to have an option of stacking multiple notifications

[2020-07-31 18:54] athossampayo opened #234 "Feature suggestion"
Would be really nice to be able to have an animated Alert with ProgressBar that morphs into a normal Alert after calling .hide() or something similar. I'm thinking of something like this button here:

![enter image description here](https://i.stack.imgur.com/8SHR1.gif)
[/leandroBorgesFerreira/LoadingButtonAndroid](https://github.com/leandroBorgesFerreira/LoadingButtonAndroid)

It would be really u

[2020-08-31 07:13] PaolinoAngeletti opened #236 "[BUG] Error in InitView"
we have revelead this error.
A try catch would solve the problem.

"
Caused by android.content.res.Resources$NotFoundException
Unable to find resource ID #0x7f08006a
"
Stack:
Caused by android.content.res.Resources$NotFoundException: Unable to find resource ID #0x7f08006a
       at android.content.res.Resources.getResourceName(Resources.java:2070)
       at android.content.res.Resources.loadDrawab

[2020-10-07 05:10] Chnovo28 opened #239 ".hideIcon()"
.hideIcon() not working

[2020-10-28 11:28] DaxeshV opened #240 "To much buggy"
to much bugs. time waster library

[2020-11-02 11:09] dermdaly commented on #240
Hi DaxeshV, I'm not sure there's much the developers can do with your feedback.  Here's an article you may find useful.
https://medium.com/pitch-perfect/how-to-write-the-perfect-bug-report-6430f5a45cd
In addition, being open source, pull requests are accepted. I've seen many people contribute changes/fixes and enhancements to this.
Good luck!
Dermot.

[2020-11-12 03:32] henryaugusta opened #241 "Custom Layout padding and margin"
Hello i just want to ask how to set margin for custom layout, because the original view has a margin that i think uncustomizable, or maybe i missed a words in documentation ?
Thank You

[2020-11-12 12:44] kpmmmurphy commented on #241
Hey @henryaugusta! I think this is one for @minibugdev to answer, as he implemented custom layouts!

[2020-11-12 12:47] #240 closed

[2020-11-12 12:48] kpmmmurphy commented on #239
Hey @Chnovo28, could you please provide the library version you're using, and code examples of where this is not working for you. Many thanks.

[2020-11-12 12:49] kpmmmurphy commented on #236
Hey @PaolinoAngeletti, could you please provide the library version, and code examples of where this exception is thrown? Many thanks.

[2020-11-12 13:26] #218 closed

[2020-11-12 13:32] minibugdev commented on #241
Hi @henryaugusta,

You are right, this library isn't support to customize custom layout margin because of Alerter inflated [alerter_alert_view.xml](https://github.com/Tapadoo/Alerter/blob/master/alerter/src/main/res/layout/alerter_alert_view.xml) to alert view layout which compose with _parent container, content container, button container_.

For custom layout, it was inflated to content container

[2020-11-12 17:45] henryaugusta commented on #241
Thanks in advance @minibugdev @kpmmmurphy , really appreciate for the suggested solution 👍

[2020-11-12 17:45] #241 closed

[2020-11-20 15:59] ferostar commented on #236
I see it myself. Not all the time, but once in a while. Happens when the alerter is created:

`Alerter alert = Alerter.create(activity);` I'm using `com.tapadoo.android:alerter:4.0.2`.

[2020-12-01 14:20] LuiguiBalarezo commented on #83
Hi

In version 1.0.6 there is no .enable Progress (true).

Why?.

[2020-12-01 14:21] LuiguiBalarezo opened #246 "v1.0.6 .enableProgress (true) no exists"

[2020-12-01 15:13] kpmmmurphy commented on #246
Hey @LuiguiBalarezo, the Progress feature was added in version 2.0.0, back in early 2017.  Please update to the latest version of the library.

You can view version info in the changelog:
https://github.com/Tapadoo/Alerter/blob/master/CHANGELOG.md#200---07022017

[2020-12-01 15:13] #246 closed

[2020-12-23 14:53] shwetachauhan-simform opened #247 "Alert in BottomSheetDialogFrgament issue"
When we use this in **BottomSheetDialogFragment** alert hides under it.
Any solutions for now??

[2020-12-24 12:16] kpmmmurphy commented on #247
Hey @shwetachauhan-simform, the Alerter is technically in a different window to the Dialog, right now there is no direct solution to this. You could dismiss the bottom sheet, and then show the Alert - but this might not be the UX you're hoping for.

[2020-12-24 12:16] #247 closed

[2020-12-28 03:08] hms-tuanpham opened #248 "How to show the Alerter above an AlertDialog?"
The Alerter is show behind an AlertDialog (Dim Background).
I need show it above AlertDialog.
Please help me. Thanks!

[2020-12-28 10:58] kpmmmurphy commented on #248
Hi @hms-tuanpham, this is not supported, as your AlertDialog has it's own window. I'd recommend dismissing the AlertDialog first, then showing the Alerter.

[2020-12-28 10:58] #248 closed

[2021-01-28 02:14] soantrinh-diag opened #250 "It's showing behind the BottomSheetDialogFragment. How I can solve this problem? Please help.."

[2021-02-16 11:48] SoftwareAdvise commented on #236
So ? There is a solution ?

[2021-03-23 02:24] bloooi opened #254 "Fatal Exception: android.content.res.Resources$NotFoundException Resource ID #0x0"
I'm using vector image drawable (xml). Is that any problem?

Alerter.create(this)
                .setText(R.string.added_current_playlist)
                .setBackgroundColorInt(ContextCompat.getColor(this, R.color.activeStart))
                .setIcon(R.drawable.add_track_playlist)
                .show()

[2021-03-31 15:27] anacicconi opened #255 "Migrate from JCenter"
Hello 👋  Will this project be migrated from JCenter? Thanks!

[2021-04-01 07:50] kpmmmurphy commented on #255
Hey @anacicconi! Yes indeed, I plan to migrate soon, to either JCenter or JitPack.io. I need to do some research on the best approach going forward!

[2021-04-01 07:59] anacicconi commented on #255
I think you meant Maven Central, not JCenter, right?

Good to know that we will be able to keep using your library! 😉

[2021-04-01 08:04] kpmmmurphy commented on #255
Haha, yes apologies, my mistake!! Either Maven Central or JitPack

[2021-04-02 11:51] kpmmmurphy commented on #255
Moved to JitPack.io in PR #257. The library was already configured to be usable via JitPack, but I've refactored a few elements, and removed unneeded BinTray/JCenter code!

[2021-04-02 11:51] #255 closed

[2021-04-02 15:16] anacicconi commented on #255
Thanks! 👍

[2021-04-21 19:20] #160 closed

[2021-05-12 20:05] upseliseev opened #258 "Question: In-line Buttons"
So far while using this, the buttons are always on the next line from the text. Is there a way for a single button to appear on the same line as the text, as per Android snackbar designs?

Designs linked [here](https://material.io/components/snackbars#placement) for convenience/reference

[2021-05-12 23:48] jassielcastro opened #259 "Crash when another Activity is launched while the Alert is being displayed"
As mentioned in the title, any app that tries to launch a new activity or change fragment while the Alert is being displayed, the app will crash...
A solution we found was to put a postDelay while Alerter.isShowing()
[code]

but there is no way to add a callBack in the Alerter.hide() method when the hide is finished? This to know when the Alerter is already removed.

[2021-05-13 07:43] kpmmmurphy commented on #259
Hey @jassielcastro, thanks for flagging this. Could you try calling '.hide()' in your calling Activity's 'onPause' or 'onStop' lifecycle method?

[2021-05-13 07:48] kpmmmurphy commented on #258
Hey @upseliseev, you could use a custom layout for this instead.

[code]

[2021-05-13 07:48] #258 closed

[2021-05-13 14:54] jassielcastro commented on #259
@kpmmmurphy the crash still, because at the moment of calling 'onPause' or 'onStop' the animation of removing the view has not yet finished:
[code]
And when the new Activity is launched, the Alert is still visible.

[2021-05-13 16:41] kpmmmurphy commented on #259
Hey @jassielcastro, more then happy to review a PR with a fix for this if you can implement one!

[2021-05-13 16:43] jassielcastro commented on #259
Sure @kpmmmurphy let me take some time!

[2021-05-13 20:53] jassielcastro commented on #259
@kpmmmurphy you already have a listener:
[code]
My bad... Im using a very old version of your library.

[2021-05-13 20:53] #259 closed

[2021-05-26 06:17] parmarravi commented on #250
Is there a solution to show on top of bottom sheet dialog fragment

[2021-05-26 07:37] kpmmmurphy commented on #250
Hey @parmarravi @soantrinh-diag, could you please confirm the version of Alerter you are using, and provide a code snippet of how you are calling the Alerter please.

[2021-05-26 12:48] parmarravi commented on #250
Its 7.0.0

    implementation 'com.tapadoo.android:alerter:7.0.0'

[2021-05-26 13:12] kpmmmurphy commented on #250
Hey @parmarravi, could you provide a code snippet also please? I recommend you read our contributing document where we outline how to log issues - https://github.com/Tapadoo/Alerter/blob/master/CONTRIBUTING.md.

[2021-05-26 13:20] parmarravi opened #262 "Resources$NotFoundException: Drawable com.example.myapp:drawable/button_alerter with resource ID #0x7f0800ac"
The App is getting crashed in release apk with firebase message

The Project has lib version 7.0.0

App works fine in debug version but in release apk it crashes .
Its showing custom style for the button is not found.

Crash confirm in Android 11 and Android 10
Device OnePlus

Code

[code]

[2021-05-26 13:31] kpmmmurphy commented on #262
Thanks for the details report @parmarravi. Are you using ProGuard in release?

[2021-05-26 13:42] parmarravi commented on #262
Yes

[2021-05-26 13:46] kpmmmurphy commented on #262
Please have a look at this article which outlines how to ensure ProGuard doesn't remove drawable resources.

https://shrikanth.in/android/issues/2020/07/05/shrink-resources-not-found.html

[2021-05-26 13:46] #262 closed

[2021-05-31 06:11] manegirish opened #263 "Alert View Doesn't Appear Over Dialog"
When I opened the custom dialog fragment and tried to open the alerter view; it appears behind the dialog fragment over dialog fragment.
Can we achieve it by any means?

[2021-06-18 02:01] LoquatZ opened #265 "getRippleDrawable() is insecurity In ExAlter."
getRippleDrawable() is insecurity In ExAlter ，some activity maybe crash as Resource ID #0x0。

[2021-07-22 02:47] rushabh-speridian opened #266 "Should able to dismiss manually when tap on alerter button"
Currently there is no such method to dismiss dialog programatically before the duration or on tap of the button that was added to alerter. It remains till the duration.

[2021-07-22 02:52] #266 closed

[2021-07-22 08:10] vshkl opened #267 "Alert may has extra bottom margin when displayed with Gravity.BOTTOM"
On some devices where it is possible to switch between the system navigation bar and the physical buttons, the notification, when shown at the bottom, will have an additional margin of the height of the navigation bar, even if it is hidden.

<div style="display:flex;" >
<img src="https://user-images.githubusercontent.com/7419173/126607874-aea8d953-e16f-4f9e-a0fa-801c37b67599.jpg" width="25%" >
<im

[2021-07-26 08:27] kpmmmurphy commented on #267
Hey vshkl, thanks for flagging this issue, and for referencing the code which is causing it. I'd be delighted to review your pull request with a fix.

[2021-07-27 10:48] vshkl commented on #267
Hey @kpmmmurphy, I've made a [PR](https://github.com/Tapadoo/Alerter/pull/268) that should address this issue.
Tested on several devices I have and a couple of emulators to check certain edge-cases like screens with cutouts. Will be happy to hear the feedback.

[2021-07-27 11:14] #267 closed

[2021-08-03 08:25] anderscheow opened #269 "Floating or elevated alerter?"
Is there any way to add shadow or make the alerter floating or elevated?

[2021-08-10 14:23] dohakash opened #271 "Jcenter is deprecated"
Is there a way to make the library available on maven central since the jcenter is deprecated?

[2021-08-11 13:15] Kev1000000 opened #272 "Alerter not respecting larger status bars?"
For devices with large status bars, the Alert window is _very_ close to the status bar and doesn't provide adequate padding to compensate for larger status bars.

[2021-08-11 13:45] kpmmmurphy commented on #271
Hey @diogoarm, maybe in the future, but we have no plans to do this right now. Jitpack provides the same service, with less developer overhead.

[2021-08-11 13:45] #271 closed

[2021-08-11 13:47] kpmmmurphy commented on #269
Hey @anderscheow, this is not currently supported, but I'm happy to review & merge a PR with this change.

[2021-08-12 08:07] #269 closed

[2021-08-16 18:44] shriharsha-b opened #274 "Support for moving out of Jcenter"
How can we migrate out of using Jcenter ?

[2021-08-16 19:34] kpmmmurphy commented on #274
https://github.com/Tapadoo/Alerter#install

[2021-08-16 19:34] #274 closed

[2021-08-23 09:45] mohammadrezaberenji commented on #250
@kpmmmurphy @parmarravi I also have this problem with showing alerter inside a botthomSheetDialogFragment. it's not in focus and it seems that it shows the top of behind activity/fragment

[2021-08-23 12:37] mohammadrezaberenji commented on #263
@manegirish I had this problem but its solved. use latest version of alerter and use Alerter.create function with dialog parameter and pass dialog. in bottom sheet fragment if you pass activity it is showing behind the bottom sheet. you can associated dialog in bottomSheetFragment with getDialog()

[2021-08-23 12:39] mohammadrezaberenji commented on #250
@kpmmmurphy @parmarravi I found how it was wrong. I was using Alerter.create(activity ) instead of Alerter.creat(dialog). now the problem is solved. Thanks!
@soantrinh-diag

[2021-08-25 04:51] priyanshu-lanjewar opened #275 "ProgressBar icon is not visible"
![mobpic](https://user-images.githubusercontent.com/61533257/130728546-a9073957-2606-4262-8043-c39b7b77f6c8.png)
when Alert  of type progress is created, instead of progressbar, notification bell icon is visible.
[code]

[2021-08-25 07:11] kpmmmurphy commented on #275
Hi @priyanshu-lanjewar, what version of the library are you using?

[2021-08-25 07:22] priyanshu-lanjewar commented on #275
@kpmmmurphy  ohh.. Thnx i figured it out.  I changed version now so able to use it ..

[2021-08-25 07:22] #275 closed

[2021-09-11 04:41] fukemy commented on #254
i got same problem, please help

[2021-09-12 12:04] fukemy opened #276 "alerter hide not working when called in new activity"
hi, i have alerter.show in current activity -> then i start newactivity then called hide in this activity, but it's working, did u provide way to hide all alert from one line of code? Thanks

[2021-09-13 19:10] kpmmmurphy commented on #276
The Alert is tied to the current Activity's DecorView, so you'll have to dismiss the Alert before showing the new Activity. Perhaps using the on dismiss listener would help.

[2021-09-13 19:10] #276 closed

[2021-09-13 22:55] fukemy commented on #276
@kpmmmurphy pls guide me how to use the on dismiss listener, thanks

[2021-09-14 07:45] kpmmmurphy commented on #276
https://github.com/Tapadoo/Alerter#visibility-callbacks

[2021-09-17 06:37] nomi9995 opened #277 "should be publish on mavenCenter"
JCenter / Bintray is going away, and this will have an impact on this package too. so we need to publishsh this library to mavenCenter

https://developer.android.com/studio/build/jcenter-migration

[2021-09-23 02:16] Zikkkkkk opened #278 "按钮间距"
自定义按钮 如何更改按钮的左右间距

[2021-10-07 05:02] ravikantojha commented on #277
Same suggestion

JCenter / Bintray is going away, and this will have an impact on this package too. so we need to publishsh this library to mavenCenter

https://developer.android.com/studio/build/jcenter-migration

[2021-11-30 15:41] hbb20 opened #279 "Update read me for correct jitpack dependency text"
Jitpack servers `com.github.Tapadoo:Alerter:$current-version` and not `com.github.tapadoo:alerter:$current-version`.

Current readme:
![image](https://user-images.githubusercontent.com/4918760/144078846-25a71f68-f067-493b-a6d9-95424ed43662.png)

Jitpack:
![image](https://user-images.githubusercontent.com/4918760/144078913-86087f08-3638-43ca-bc71-d5e85d6664e6.png)

[2021-11-30 18:36] roimi57 opened #280 "Bad Gateway"
The Library gives an error "Could not GET 'https://dl.bintray.com/rrsaikat/RNetwork/com/github/tapadoo/alerter/7.1.0/alerter-7.1.0.pom'. Received status code 502 from server: Bad Gateway
"

[2021-11-30 19:13] roimi57 commented on #279
I put the version 7.2.4 and gives me an error "Could not GET 'https://dl.bintray.com/rrsaikat/RNetwork/com/github/tapadoo/alerter/7.2.4/alerter-7.2.4.pom'. Received status code 502 from server: Bad Gateway
"

[2021-11-30 20:01] jkeyes commented on #279
@roimi57 JFrog [shut down bintray](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) earlier this year.

[2021-11-30 20:04] jkeyes commented on #280
@roimi57 JFrog [shut down bintray](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) earlier this year.

[2021-11-30 20:10] kpmmmurphy commented on #279
Thanks for flagging this @hbb20, but the case doesn't seem to effect dependancy resolution, and the lower case formatting is more in keeping with project conventions -  so I'm gonna close this out.

<img width="470" alt="Screenshot 2021-11-30 at 20 08 10" src="https://user-images.githubusercontent.com/6544677/144120318-1721ee58-c62d-47d5-8c7f-4cc97123d622.png">

[2021-11-30 20:10] #279 closed, assigned to nobody

[2021-11-30 20:13] kpmmmurphy commented on #280
Thanks for following up @jkeyes, you're the real GOAT.

@roimi57 BinTay (or jCenter) is now read only - so no new versions of the library can be published there. I took the design decision to move to JitPack.io for new versions. Please review the install section of our readme, and update to the latest version of the lib - https://github.com/Tapadoo/Alerter#install

[2021-11-30 20:13] #280 closed, assigned to nobody

[2021-12-01 09:26] hbb20 commented on #279
@roimi57 new versions are pushed to jitpack and not bintray. Looks like you are trying to pull a version from bintray which is not published there in the first place.

[2021-12-01 09:27] hbb20 commented on #279
@kpmmmurphy that's strange. It only worked for me when I matched jitpack casing.

[2022-01-17 12:54] CatchABus opened #281 "Maven repository status 403"
Is everything okay with library in maven? I click to download `aar` file and get `403 Forbidden`.

[2022-01-17 12:56] CatchABus commented on #281
Seems to be fixed now.

[2022-01-17 12:56] #281 closed, assigned to nobody

[2022-01-25 15:47] shelland commented on #277
+1

[2022-01-26 18:43] roimi57 opened #282 "Import jar"
Someone knows if there’s a .jar or .aar file to import the library locally?

[2022-01-30 12:11] akardas16 commented on #277
is there any news about that?

[2022-02-12 08:01] sudarshaana commented on #250
@mohammadrezaberenji, I am facing the same issue. Can you share your implementation?

[2022-02-12 08:15] mohammadrezaberenji commented on #250
@sudarshaana you must use the 7.2.4 version of Alerter. and if you want to use it in dialog pass the dialog reference into constructor. see this :

Gradle : `implementation 'com.github.tapadoo:alerter:7.2.4'`

`val snackBar: Alerter = Alerter.create(dialog)
                     .setText(message)
                    .setRightIcon(R.drawable.circle_grey)
                    .setContentGravity(Gravit

[2022-05-23 14:31] SoftwareAdvise opened #283 "status bar is not overriden from alert"
hi all,
i have a problem regarding status bar not overriden by alert, why this happen?

![immagine](https://user-images.githubusercontent.com/9363586/169842583-62368e8b-9081-49da-a7c1-7cf1e051f8f7.png)

thanks.

[2022-05-31 09:08] ryankamanri commented on #283
I found a solution (not good, just solve)
observe `Alerter.show()`
[code]
It is found that the `View` of this `Alert` has been added to the `window.decorView`
You can find the `Alert` object by traversing the `window.decorView` and set its `translationZ`

So i solved the problem, by:
[code]
Maybe you can wrap it better.

[2022-08-30 21:59] sanjaypatel27 opened #284 "How to verify Expresso Test case for the Message we show in Alerter"
Hello
I am using this library in my app to show the success and failure messages.
I am trying to right the Expresso test case to verify the success or failure message is displayed with proper text or not?
if anyone knows, please suggest any way to do this.
thank you

[2022-10-31 06:03] SmirnovM91 commented on #277
+1

[2022-11-07 08:41] AlexandruDev opened #285 "Unable to implement library."
I am unable to implement this library, I'm getting this error when trying to run my project:
![image](https://user-images.githubusercontent.com/9827473/200264769-921175d1-16b7-430c-a580-cc41fe519b9b.png)

[2022-11-10 14:25] hbb20 commented on #285
It is likely that you were impacted by the gradle incident. https://status.gradle.com/incidents/9j9bx7nlwwf1 which is resolved now so you can try now.

[2022-11-10 14:38] AlexandruDev commented on #285
Looks like that was the case, it works now.

[2022-11-10 14:39] #285 closed, assigned to nobody